generator "block" "armorOfResistanceBase" {
	base {
		generator "item" "armorOfResistance{DMG_TYPE}" {
			filter {
				armor "light" "medium" "heavy"
				rarity "None"
			}
			variant "" {
				extend "name" "{name} of {DMG_TYPE} Resistance"
				extend "rarity" "Rare"
				extend "description" "You have resistance to {DMG_TYPE} damage while you wear this armor."
				extend "equipment" {
					attunement {
						mutator "add_defense" "Resistance" (DamageType)"Specific" "{DMG_TYPE}"
					}
				}
			}
		}
	}
	variant "Acid" "DMG_TYPE" "Acid"
	variant "Cold" "DMG_TYPE" "Cold"
	variant "Fire" "DMG_TYPE" "Fire"
	variant "Force" "DMG_TYPE" "Force"
	variant "Lightning" "DMG_TYPE" "Lightning"
	variant "Necrotic" "DMG_TYPE" "Necrotic"
	variant "Poison" "DMG_TYPE" "Poison"
	variant "Psychic" "DMG_TYPE" "Psychic"
	variant "Radiant" "DMG_TYPE" "Radiant"
	variant "Thunder" "DMG_TYPE" "Thunder"
}
