subclass class="Ranger" name="Hunter" {
	description "Emulating the Hunter archetype means accepting your place as a bulwark between civilization and the terrors of the wilderness. As you walk the Hunter's path, you learn specialized techniques for fighting the threats you face, from rampaging ogres and hordes of orcs to towering giants and terrifying dragons."
	level 3 {
		mutator "pick" 1 name="Hunter's Prey" {
			option "Colossus Slayer" {
				mutator "feature" name="Colossus Slayer" {
					description {
						short "Bonus 1d8 damage on a weapon attack, once per turn, when the target is below its hit point maximum."
						section "Your tenacity can wear down the most potent foes. When you hit a creature with a weapon attack, the creature takes an extra 1d8 damage if it's below its hit point maximum. You can deal this extra damage only once per turn."
					}
				}
			}
			option "Giant Killer" {
				mutator "feature" name="Giant Killer" {
					description "When a Large or larger creature within 5 feet of you hits or misses you with an attack, you can use your reaction to attack that creature immediately after its attack, provided that you can see the creature."
				}
			}
			option "Horde Breaker" {
				mutator "feature" name="Horde Breaker" {
					description "Once on each of your turns when you make a weapon attack, you can make another attack with the same weapon against a different creature that is within 5 feet of the original target and within range of your weapon."
				}
			}
		}
	}
	level 7 {
		mutator "pick" 1 name="Defensive Tactics" {
			option "Escape the Horde" {
				mutator "feature" name="Escape the Horde" {
					description "Opportunity attacks against you are made with disadvantage."
				}
			}
			option "Multiattack Defense" {
				mutator "feature" name="Multiattack Defense" {
					description "When a creature hits you with an attack, you gain a +4 bonus to AC against all subsequent attacks made by that creature for the rest of the turn."
				}
			}
			option "Steel Will" {
				mutator "modify" (SavingThrow)"All" modifier="Advantage" context="bring frightened"
			}
		}
	}
	level 11 {
		mutator "pick" 1 name="Multiattack" {
			option "Volley" {
				mutator "feature" name="Volley" {
					description {
						short "Make a ranged attack against creatures within 10 feet of a point you can see within range. Make separate attack roles and ammunition for each target."
						section "You can use your action to make a ranged attack against any number of creatures within 10 feet of a point you can see within your weapon's range. You must have ammunition for each target, as normal, and you make a separate attack roll for each target."
					}
					action "Action"
				}
			}
			option "Whirlwind Attack" {
				mutator "feature" name="Whirlwind Attack" {
					description {
						short "Make a melee attack against creatures within 5 feet you. Make separate attack roles for each target."
						section "You can use your action to make a melee attack against any number of creatures within 5 feet of you, with a separate attack roll for each target."
					}
					action "Action"
				}
			}
		}
	}
	level 15 {
		mutator "pick" 1 name="Superior Hunter's Defense" {
			option "Evasion" {
				mutator "feature" name="Evasion" {
					description {
						short "On DEX saving throw to take half damage on success, take no damage on success or half damage on fail."
						section "When you are subjected to an effect (such as a red dragon's fiery breath or a lightning bolt spell) that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail."
					}
				}
			}
			option "Stand Against the Tide" {
				mutator "feature" name="Stand Against the Tide" {
					description {
						short "Redirect a failed melee attack against you onto another creature within range."
						section "When a hostile creature misses you with a melee attack, you can use your reaction to force that creature to repeat the same attack against another creature (other than itself) of your choice."
					}
					action "Reaction"
				}
			}
			option "Uncanny Dodge" {
				mutator "feature" name="Uncanny Dodge" {
					description {
						short "Halve the damage you take from an attack that you can see."
						section "When an attacker that you can see hits you with an attack, you can use your reaction to halve the attack's damage against you."
					}
					action "Reaction"
				}
			}
		}
	}
}
