class name="Barbarian" {
	description "A fierce warrior of primitive background who can enter a battle rage"
	hit-die "d12"
	subclass-level 3

	// Mutators applied when this is a primary class
	mutator "add_proficiency" (SavingThrow)"Strength"
	mutator "add_proficiency" (SavingThrow)"Constitution"
	mutator "add_proficiency" (Armor)"Light"
	mutator "add_proficiency" (Armor)"Medium"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		option "AnimalHandling"
		option "Athletics"
		option "Intimidation"
		option "Nature"
		option "Perception"
		option "Survival"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		option "AnimalHandling"
		option "Athletics"
		option "Intimidation"
		option "Nature"
		option "Perception"
		option "Survival"
	}
	/* TODO: add_starting_equipment
		(a) a greataxe or (b) any martial melee weapon
		(a) two handaxes or (b) any simple weapon
		An explorer’s pack and four javelins
	*/

	// Levels
	level 1 {
		// Mutators applied for primary or multiclassing
		mutator "add_proficiency" (Armor)"Shield"
		mutator "add_proficiency" (Weapon)"Simple"
		mutator "add_proficiency" (Weapon)"Martial"

		feature name="Rage" {
			// TODO: Bonus action
			description "In battle, you fight with primal ferocity. On your turn, you can enter a rage as a bonus action.

			Your rage lasts for 1 minute. It ends early if you are knocked unconscious or if your turn ends and you haven't attacked a hostile creature since your last turn or taken damage since then. You can also end your rage on your turn as a bonus action.

			Once you have used all your rages, you must finish a long rest before you can rage again."
			// TODO: limited uses based on level
			// TODO: Long rest reset on uses
			// TODO: Apply a condition when this action is used
			condition "Raging" {
				description "While raging, you gain benefits listed below if you aren't wearing heavy armor.
				If you are able to cast spells, you can't cast them or concentrate on them while raging."
				criteria "has_armor_equipped" inverted=true {
					kind "Heavy"
				}
				mutator "add_modifier" "Advantage" (Ability)"Specific" "Strength"
				mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Strength"
				mutator "add_defense" "Resistance" (DamageType)"Bludgeoning"
				mutator "add_defense" "Resistance" (DamageType)"Piercing"
				mutator "add_defense" "Resistance" (DamageType)"Slashing"
				/* TODO: bonus_damage
				mutator "bonus_damage" {
					// When you make a melee weapon attack using Strength, you gain a bonus to the damage roll (+2 at level 1, +3 at level 9, and +4 at level 16).
					amount "ClassLevel" class="Barbarian" {
						level 1 2
						level 9 3
						level 16 4
					}
					restriction {
						attack "Melee"
						ability "Strength"
					}
				}
				*/
			}
		}
		feature name="Unarmored Defense" unique=true {
			description "While you are not wearing any armor, your Armor Class equals 10 + your Dexterity modifier + your Constitution modifier. You can use a shield and still gain this benefit."
			criteria "has_armor_equipped" inverted=true
			/* TODO: add_armor_class_formula
			mutator "add_armor_class_formula" base=10 {
				bonus "Dexterity"
				bonus "Constitution"
			}
			*/
		}
	}
	level 2 {
		feature name="Reckless Attack" {
			description "Starting at 2nd level, you can throw aside all concern for defense to attack with fierce desperation. When you make your first attack on your turn, you can decide to attack recklessly. Doing so gives you advantage on melee weapon attack rolls using Strength during this turn, but attack rolls against you have advantage until your next turn."
		}
		feature name="Danger Sense" {
			description "At 2nd level, you gain an uncanny sense of when things nearby aren't as they should be, giving you an edge when you dodge away from danger.
			You have advantage on Dexterity saving throws against effects that you can see, such as traps and spells. To gain this benefit, you can't be blinded, deafened, or incapacitated."
			mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Dexterity" context="effects you can see"
			/* TODO: has_condition, implemented like has_armor_equipped but for conditions
			criteria "has_condition" inverted=true {
				option "Blinded"
				option "Deafened"
				option "Incapacitated"
			}
			*/
		}
	}
	level 4 { // TODO: add ASI at 8, 12, 16, & 19
		// TODO: ability_score_increase, which innately grants +2/+1 to abilities the user selects OR allow them to choose a feat
		//mutator "ability_score_increase"
	}
	level 5 {
		feature name="Extra Attack" unique=true {
			description "Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn."
			// TODO: mutator "add_extra_attack"
		}
		feature name="Fast Movement" {
			description "Starting at 5th level, your speed increases by 10 feet while you aren't wearing heavy armor."
			mutator "speed" "Walking" (Additive)10
			criteria "has_armor_equipped" inverted=true {
				kind "Heavy"
			}
		}
	}
	level 7 {
		feature name="Feral Instinct" {
			description "By 7th level, your instincts are so honed that you have advantage on initiative rolls.
			Additionally, if you are surprised at the beginning of combat and aren't incapacitated, you can act normally on your first turn, but only if you enter your rage before doing anything else on that turn."
			// TODO: add_modifier Advantage Initiative
		}
	}
	level 9 {
		feature name="Brutal Critical" {
			description "Beginning at 9th level, you can roll one additional weapon damage die when determining the extra damage for a critical hit with a melee attack.
			This increases to two additional dice at 13th level and three additional dice at 17th level."
		}
	}
	level 11 {
		feature name="Relentless Rage" {
			description "Starting at 11th level, your rage can keep you fighting despite grievous wounds. If you drop to 0 hit points while you're raging and don't die outright, you can make a DC 10 Constitution saving throw. If you succeed, you drop to 1 hit point instead.
			Each time you use this feature after the first, the DC increases by 5. When you finish a short or long rest, the DC resets to 10."
		}	
	}
	level 15 {
		feature name="Persistent Rage" {
			description "Beginning at 15th level, your rage is so fierce that it ends early only if you fall unconscious or if you choose to end it."
		}	
	}
	level 18 {
		feature name="Indomitable Might" {
			description "Beginning at 18th level, if your total for a Strength check is less than your Strength score, you can use that score in place of the total."
		}	
	}
	level 20 {
		feature name="Primal Champion" {
			description "At 20th level, you embody the power of the wilds. Your Strength and Constitution scores increase by 4. Your maximum for those scores is now 24."
			mutator "ability_score" {
				ability "Specific" "Strength"
				bonus 4
				increase-max 24
			}
			mutator "ability_score" {
				ability "Specific" "Constitution"
				bonus 4
				increase-max 24
			}
		}	
	}
}