class name="Cleric" {
	description "A priestly champion who wields divine magic in service of a higher power"
	die "d8"
	multiclass-req "Wisdom" 13

	mutator "add_proficiency" (SavingThrow)"Wisdom"
	mutator "add_proficiency" (SavingThrow)"Charisma"
	mutator "add_proficiency" (Weapon)"Simple"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		option "History"
		option "Insight"
		option "Medicine"
		option "Persuasion"
		option "Religion"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		option "History"
		option "Insight"
		option "Medicine"
		option "Persuasion"
		option "Religion"
	}
	mutator "add_starting_equipment" {
		group pick=1 {
			item "Specific" {
				item "items/weapons/mace.kdl"
			}
			item "Specific" {
				item "items/weapons/warhammer.kdl"
				criteria (Evaluator)"has_proficiency" (Weapon)"Warhammer"
			}
		}
		group pick=1 {
			item "Specific" {
				item "items/armor/scale_mail.kdl"
			}
			item "Specific" {
				item "items/armor/leather.kdl"
			}
			item "Specific" {
				item "items/armor/chain_mail.kdl"
				criteria (Evaluator)"has_proficiency" (Weapon)"Chain Mail"
			}
		}
		group pick=1 {
			group {
				item "Specific" {
					item "items/weapons/crossbow_light.kdl"
				}
				item "Specific" count=20 {
					item "items/ammunition/crossbow_bolt.kdl"
				}
			}
			item "Select" {
				weapon kind="Simple"
			}
		}
		group pick=1 {
			item "Specific" {
				item "items/bundle/priest.kdl"
			}
			item "Specific" {
				item "items/bundle/explorer.kdl"
			}
		}
		item "Specific" {
			item "items/armor/shield.kdl"
		}
		item "Select" {
			tag "Holy Symbol"
		}
	}

	level 1 {
		mutator "hit_dice" {
			amount (Evaluator)"get_level" class="Cleric"
			die 8
		}
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Armor)"Medium"
		mutator "add_proficiency" (Armor)"Shield"
		mutator "feature" name="Divine Domain" {
			description {
				short "As a cleric, you choose one aspect of your deity's portfolio to emphasize, and you are granted powers related to that domain."
				section "In a pantheon, every deity has influence over different aspects of mortal life and civilization, called a deity's domain. All the domains over which a deity has influence are called the deity's portfolio. For example, the portfolio of the Greek god Apollo includes the domains of Knowledge, Life, and Light. As a cleric, you choose one aspect of your deity's portfolio to emphasize, and you are granted powers related to that domain."
				section "Your choice might correspond to a particular sect dedicated to your deity. Apollo, for example, could be worshiped in one region as Phoebus (“radiant”) Apollo, emphasizing his influence over the Light domain, and in a different place as Apollo Acesius (“healing”), emphasizing his association with the Life domain. Alternatively, your choice of domain could simply be a matter of personal preference, the aspect of the deity that appeals to you most."
				section "Each domain's description gives examples of deities who have influence over that domain. Gods are included from the worlds of the Forgotten Realms, Greyhawk, Dragonlance, and Eberron campaign settings, as well as from the Celtic, Greek, Norse, and Egyptian pantheons of antiquity."
			}
			mutator "add_subclass" class="Cleric"
		}
		mutator "feature" name="Spellcasting" {
			description {
				short "You can cast prepared cleric spells using Wisdom as your spellcasting modifier (Spell DC {DC}, Spell Attack +{atk}) and prepared cleric spells as rituals if they have the ritual tag. You can use a holy symbol as a spellcasting focus."
				format-arg "DC" "int" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_proficiency_bonus"
					value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
				}
				format-arg "atk" "int" (Evaluator)"math" "Add" {
					value (Evaluator)"get_proficiency_bonus"
					value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
				}
				section "As a conduit for divine power, you can cast cleric spells."
				section (Title)"Cantrips" "At 1st level, you know three cantrips of your choice from the cleric spell list. You learn additional cleric cantrips of your choice at higher levels."
				section (Title)"Preparing and Casting Spells" "The Cleric table shows how many spell slots you have to cast your cleric spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.

				You prepare the list of cleric spells that are available for you to cast, choosing from the cleric spell list. When you do so, choose a number of cleric spells equal to your Wisdom modifier + your cleric level (minimum of one spell). The spells must be of a level for which you have spell slots.

				For example, if you are a 3rd-level cleric, you have four 1st-level and two 2nd-level spell slots. With a Wisdom of 16, your list of prepared spells can include six spells of 1st or 2nd level, in any combination. If you prepare the 1st-level spell cure wounds, you can cast it using a 1st-level or 2nd-level slot. Casting the spell doesn't remove it from your list of prepared spells.

				You can change your list of prepared spells when you finish a long rest. Preparing a new list of cleric spells requires time spent in prayer and meditation: at least 1 minute per spell level for each spell on your list."
				section (Title)"Spellcasting Ability" "Wisdom is your spellcasting ability for your cleric spells. The power of your spells comes from your devotion to your deity. You use your Wisdom whenever a cleric spell refers to your spellcasting ability. In addition, you use your Wisdom modifier when setting the saving throw DC for a cleric spell you cast and when making an attack roll with one.

				Spell save DC = 8 + your proficiency bonus + your Wisdom modifier

				Spell attack modifier = your proficiency bonus + your Wisdom modifier"
				section (Title)"Ritual Casting" "You can cast a cleric spell as a ritual if that spell has the ritual tag and you have the spell prepared."
				section (Title)"Spellcasting Focus" "You can use a holy symbol as a spellcasting focus for your cleric spells."
			}
			mutator "spellcasting" ability="Wisdom" class="Cleric" {
				ritual {
					selected-spells
				}
				focus-todo {
					tag "Holy symbol"
				}
				restriction {
					tag "Cleric"
				}
				cantrips {
					level 1 3
					level 4 4
					level 10 5
				}
				kind "Prepared" {
					// capacity dictates how many spells can be prepared
					capacity (Evaluator)"math" "Add" min=1 {
						value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
						value (Evaluator)"get_level" class="Cleric"
					}
				}
				// slots dictates what ranks of spells can be prepared
				/*
					For any caster, the slots determine both how many spellslots you have, and what level spells you can prepare/know.
					When multiclassing, the total levels in each class are added together (adding only half level for half-casters), and compared against a multi-class spellslot table (which only dictates how many slots you have, not what level of spells you can know).
					So really slots ARE relevant to the caster-kind, and there are additional layer of ops to do when determining total slot count.
				*/
				slots "Standard" {
					rank 1 {
						level 1 2
						level 2 3
						level 3 4
					}
					rank 2 {
						level 3 2
						level 4 3
					}
					rank 3 {
						level 5 2
						level 6 3
					}
					rank 4 {
						level 7 1
						level 8 2
						level 9 3
					}
					rank 5 {
						level 9 1
						level 10 2
						level 18 3
					}
					rank 6 {
						level 11 1
						level 19 2
					}
					rank 7 {
						level 13 1
						level 20 2
					}
					rank 8 {
						level 15 1
					}
					rank 9 {
						level 17 1
					}
				}
			}
		}
	}
	level 2 {
		mutator "feature" name="Channel Divinity" {
			description {
				short "Fuel a magical effect from energy directly from your deity."
				section "At 2nd level, you gain the ability to channel divine energy directly from your deity, using that energy to fuel magical effects. You start with two such effects: Turn Undead and an effect determined by your domain. Some domains grant you additional effects as you advance in levels, as noted in the domain description.

				When you use your Channel Divinity, you choose which effect to create. You must then finish a short or long rest to use your Channel Divinity again.

				Some Channel Divinity effects require saving throws. When you use such an effect from this class, the DC equals your cleric spell save DC.

				Beginning at 6th level, you can use your Channel Divinity twice between rests, and beginning at 18th level, you can use it three times between rests. When you finish a short or long rest, you regain your expended uses."
			}
			action "Special" {
				limited_uses {
					max_uses (Evaluator)"get_level" class="Cleric" {
						level 2 1
						level 6 2
						level 18 3
					}
					reset_on "Short"
				}
			}
		}
		mutator "feature" name="Turn Undead" parent="Cleric/level02/Channel Divinity" {
			description {
				short "All undead within 30 feet of you make a Wisdom saving throw (DC {DC}). On a failed save, a creature:
				- must spend its turns trying to move as far away from you as possible
				- cannot willingly end its turn within 30 feet of you
				- cannot take reactions
				- can only use the Dash action or try to escape effects that prevent it from moving
				- can use the Dodge action if there is nowhere to move
				This lasts for 1 minute or until the creature takes damage."
				section "As an action, you present your holy symbol and speak a prayer censuring the undead. Each undead that can see or hear you within 30 feet of you must make a Wisdom saving throw. If the creature fails its saving throw, it is turned for 1 minute or until it takes any damage.

				A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. It also can't take reactions. For its action, it can use only the Dash action or try to escape from an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action."
				format-arg "DC" "int" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
					value (Evaluator)"get_proficiency_bonus"
				}
			}
			action "Action" {
				limited_uses {
					resource "/Cleric/level02/Channel Divinity"
				}
			}
		}
	}
	level 4 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 5 {
		mutator "feature" name="Destroy Undead" parent="Cleric/level02/Channel Divinity" {
			description {
				short "Turn Undead instantly destroys any undead creature with a challenge rating less than or equal to CR {min-cr}."
				section "Starting at 5th level, when an undead fails its saving throw, the creature is instantly destroyed if its challenge rating is at or below a certain threashold (5th level = CR 1/2, 8th level = CR 1, 11th level = CR 2, 14th level = CR 3, 17th level = CR 4)."
				format-arg "min-cr" "str" (Evaluator)"get_level_str" class="Cleric" {
					level 5 "1/2"
					level 8 "1"
					level 11 "2"
					level 14 "3"
					level 17 "4"
				}
			}
			action "Action"
		}
	}
	level 8 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 10 {
		mutator "feature" name="Divine Intervention" {
			description {
				short "Describe the assistance you seek and roll a percentile die (d100). If the roll is less than or equal to {DC}, your deity intervenes. If this is succesful, you can't use this feature for 7 days."
				section "Beginning at 10th level, you can call on your deity to intervene on your behalf when your need is great.

				Imploring your deity's aid requires you to use your action. Describe the assistance you seek, and roll percentile dice. If you roll a number equal to or lower than your cleric level, your deity intervenes. The DM chooses the nature of the intervention; the effect of any cleric spell or cleric domain spell would be appropriate.

				If your deity intervenes, you can't use this feature again for 7 days. Otherwise, you can use it again after you finish a long rest.

				At 20th level, your call for intervention succeeds automatically, no roll required."
				format-arg "DC" "int" (Evaluator)"get_level" class="Cleric"
			}
			action "Action" {
				limited_uses {
					max_uses 1
					reset_on "Long"
				}
			}
		}
	}
	level 12 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 16 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 19 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
}