class name="Fighter" {
	description "A master of martial combat, skilled with a variety of weapons and armor"
	hit-die "d10"
	multiclass-req {
		option "Strength" 13
		option "Dexterity" 13
	}

	// Mutators applied when this is a primary class
	mutator "add_proficiency" (SavingThrow)"Strength"
	mutator "add_proficiency" (SavingThrow)"Constitution"
	mutator "add_proficiency" (Armor)"Heavy"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		option "Acrobatics"
		option "AnimalHandling"
		option "Athletics"
		option "History"
		option "Insight"
		option "Intimidation"
		option "Perception"
		option "Survival"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		option "Acrobatics"
		option "AnimalHandling"
		option "Athletics"
		option "History"
		option "Insight"
		option "Intimidation"
		option "Perception"
		option "Survival"
	}
	mutator "add_starting_equipment" {
		group pick=1 {
			item "Specific" "items/armor/chain_mail.kdl"
			group {
				item "Specific" "items/armor/leather.kdl"
				item "Specific" "items/weapons/longbow.kdl"
				item "Specific" "items/ammunition/arrow.kdl" count=20
			}
		}
		item "Select" {
			weapon kind="Martial"
		}
		group pick=1 {
			item "Specific" "items/armor/shield.kdl"
			item "Select" {
				weapon kind="Martial"
			}
		}
		group pick=1 {
			group {
				item "Specific" "items/weapons/crossbow_light.kdl"
				item "Specific" "items/ammunition/crossbow_bolt.kdl" count=20
			}
			group {
				item "Specific" "items/weapon/handaxe.kdl"
				item "Specific" "items/weapon/handaxe.kdl"
			}
		}
		group pick=1 {
			item "Specific" "items/bundle/dungeoneer.kdl"
			item "Specific" "items/bundle/explorer.kdl"
		}
	}

	level 1 {
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Armor)"Medium"
		mutator "add_proficiency" (Armor)"Shield"
		mutator "add_proficiency" (Weapon)"Simple"
		mutator "add_proficiency" (Weapon)"Martial"
		mutator "feature" name="Fighting Style" {
			description {
				short "You adopt a particular style of fighting as your specialty."
				section "You adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again."
			}
			mutator "pick" 1 name="Fighting Style" {
				option "Archery" {
					mutator "feature" name="Archery" {
						description "You gain a +2 bonus to attack rolls you make with ranged weapons."
						mutator "bonus" (Attack)"Roll" {
							bonus 2
							query {
								weapon "Simple" "Martial"
								attack "Ranged"
							}
						}
					}
				}
				option "Defense" {
					mutator "feature" name="Defense" {
						description "While you are wearing armor, you gain a +1 bonus to AC."
						mutator "apply_if" {
							criteria (Evaluator)"has_armor_equipped"
							mutator "bonus" "ArmorClass" 1
						}
					}
				}
				option "Dueling" {
					mutator "feature" name="Dueling" {
						description "When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon."
						mutator "apply_if" {
							criteria (Evaluator)"has_attack" max=1 {
								weapon "Simple" "Martial"
								attack "Melee"
								property "TwoHanded" false
							}
							mutator "bonus" (Attack)"Damage" {
								damage 2
								query {
									weapon "Simple" "Martial"
									attack "Melee"
									property "TwoHanded" false
								}
							}
						}
					}
				}
				option "Great Weapon Fighting" {
					mutator "feature" name="Great Weapon Fighting" {
						description {
							short "Reroll 1 or 2 on damage rolls for two-handed or versatile weapons (when weilding with two hands)."
							section "When you roll a 1 or 2 on a damage die for an attack you make with a melee weapon that you are wielding with two hands, you can reroll the die and must use the new roll, even if the new roll is a 1 or a 2. The weapon must have the two-handed or versatile property for you to gain this benefit."
						}
					}
				}
				option "Protection" {
					mutator "apply_if" {
						criteria (Evaluator)"has_armor_equipped" {
							kind "Shield"
						}
						mutator "feature" name="Protection" {
							description {
								short "Impose disadvantage on an attack rolls against a target that isn't you, when the target is within 5 feet of you & you are using a shield."
								section "While using a shield; when a creature you can see attacks a target other than you that is within 5 feet of you, you can use your reaction to impose disadvantage on the attack roll."
							}
							action "Reaction"
						}
					}
				}
				option "Two-Weapon Fighting" {
					mutator "feature" name="Two-Weapon Fighting" {
						description "When you engage in two-weapon fighting, you can add your ability modifier to the damage of the second attack."
					}
				}
			}
		}
		mutator "feature" name="Second Wind" {
			description {
				short "Regain 1d10 + {level} hit points"
				section "You have a limited well of stamina that you can draw on to protect yourself from harm. On your turn, you can use a bonus action to regain hit points equal to 1d10 + your fighter level (+{level}). Once you use this feature, you must finish a short or long rest before you can use it again."
				format-arg "level" "int" (Evaluator)"get_level" class="Fighter"
			}
			action "Bonus" {
				limited_uses {
					max_uses 1
					reset_on "Short"
				}
			}
		}
	}
	level 2 {
		mutator "feature" name="Action Surge" {
			description {
				short "You take one additional Action this turn. You can only use this feature once per turn."
				"Starting at 2nd level, you can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action on top of your regular action and a possible bonus action.

				Once you use this feature, you must finish a short or long rest before you can use it again. Starting at 17th level, you can use it twice before a rest, but only once on the same turn."
			}
			action "Special" {
				limited_uses {
					max_uses (Evaluator)"get_level" class="Fighter" {
						level 2 1
						level 17 2
					}
					reset_on "Short"
				}
			}
		}
	}
	level 3 {
		mutator "feature" name="Martial Archetype" {
			description "Different fighters choose different approaches to perfecting their fighting prowess. The martial archetype you choose to emulate reflects your approach."
			mutator "add_bundle" object="subclass" {
				filter class="Fighter"
			}
		}
	}
	level 4 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
	level 5 {
		mutator "feature" name="Extra Attack" unique=true {
			description {
				short "You can make multiple attacks when you take the attack action on your turn."
				section "Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn.
				The number of attacks increases to three when you reach 11th level in this class and to four when you reach 20th level in this class."
			}
			mutator "add_to_action_budget" "Attack" (Evaluator)"get_level" class="Fighter" {
				level 5 1
				level 11 2
				level 20 3
			}
		}
	}
	level 6 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
	level 8 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
	level 9 {
		mutator "feature" name="Indomitable" {
			description {
				short "Reroll a failed saving throw. You must use the new roll."
				section "Beginning at 9th level, you can reroll a saving throw that you fail. If you do so, you must use the new roll, and you can't use this feature again until you finish a long rest.
				You can use this feature twice between long rests starting at 13th level and three times between long rests starting at 17th level."
			}
			action "Special" {
				limited_uses {
					max_uses (Evaluator)"get_level" class="Fighter" {
						level 9 1
						level 13 2
						level 17 3
					}
					reset_on "Long"
				}
			}
		}
	}
	level 12 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
	level 14 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
	level 16 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
	level 19 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot_match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot_match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" {
					filter category="Feat"
				}
			}
		}
	}
}