class name="Fighter" {
	description "A master of martial combat, skilled with a variety of weapons and armor"
	hit-die "d10"
	mutator "add_proficiency" (SavingThrow)"Strength"
	mutator "add_proficiency" (SavingThrow)"Constitution"
	mutator "add_proficiency" (Armor)"Light"
	mutator "add_proficiency" (Armor)"Medium"
	mutator "add_proficiency" (Armor)"Heavy"
	mutator "add_proficiency" (Armor)"Shield"
	mutator "add_proficiency" (Weapon)"Simple"
	mutator "add_proficiency" (Weapon)"Martial"
}