class name="Monk" {
	description "A master of martial arts, harnessing the power of the body in pursuit of physical and spiritual perfection"
	hit-die "d8"
	subclass-level 3
	multiclass-req "Dexterity" 13
	multiclass-req "Wisdom" 13

	mutator "add_proficiency" (SavingThrow)"Strength"
	mutator "add_proficiency" (SavingThrow)"Dexterity"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		option "Acrobatics"
		option "Athletics"
		option "History"
		option "Insight"
		option "Religion"
		option "Stealth"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		option "Acrobatics"
		option "Athletics"
		option "History"
		option "Insight"
		option "Religion"
		option "Stealth"
	}
	mutator "add_proficiency" (Tool)"AnyOf" id="tool" {
		option "Alchemist's Supplies"
		option "Brewer's Supplies"
		option "Calligrapher's Supplies"
		option "Carpenter's Tools"
		option "Cartographer's Tools"
		option "Cobbler's Tools"
		option "Cook's Utensils"
		option "Glassblower's Tools"
		option "Jeweler's Tools"
		option "Leatherworker's Tools"
		option "Mason's Tools"
		option "Painter's Supplies"
		option "Potter's Tools"
		option "Smith's Tools"
		option "Tinker's Tools"
		option "Weaver's Tools"
		option "Woodcarver's Tools"
		option "Bagpipes"
		option "Drum"
		option "Dulcimer"
		option "Flute"
		option "Lute"
		option "Lyre"
		option "Horn"
		option "Pan flute"
		option "Shawm"
		option "Viol"
	}

	mutator-todo "add_starting_equipment" {
		pick-one {
			item "Specific" "items/weapons/shortsword.kdl"
			item "Select" kind="Simple"
		}
		pick-one {
			item "Specific" "items/bundles/dungeoneer.kdl"
			item "Specific" "items/bundles/explorer.kdl"
		}
		item "Specific" "items/weapons/dart.kdl" count=10
	}

	level 1 {
		mutator "add_proficiency" (Weapon)"Simple"
		mutator "add_proficiency" (Weapon)"Shortsword"
		feature name="Unarmored Defense" unique=true {
			description "Beginning at 1st level, while you are wearing no armor and not wielding a shield, your AC equals 10 + your Dexterity modifier + your Wisdom modifier."
			criteria "has_armor_equipped" inverted=true
			mutator "add_armor_class_formula" base=10 {
				bonus "Dexterity"
				bonus "Wisdom"
			}
		}
		feature name="Martial Arts" {
			description "At 1st level, your practice of martial arts gives you mastery of combat styles that use unarmed strikes and monk weapons, which are shortswords and any simple melee weapons that don't have the two-handed or heavy property.
			
			You gain the following benefits while you are unarmed or wielding only monk weapons and you aren't wearing armor or wielding a shield:"
			/* TODO: Mutators for Martial Arts
				You can use Dexterity instead of Strength for the attack and damage rolls of your unarmed strikes and monk weapons.
				You can roll a d4 in place of the normal damage of your unarmed strike or monk weapon. This die changes as you gain monk levels, as shown in the Martial Arts column of the Monk table.
				When you use the Attack action with an unarmed strike or a monk weapon on your turn, you can make one unarmed strike as a bonus action. For example, if you take the Attack action and attack with a quarterstaff, you can also make an unarmed strike as a bonus action, assuming you haven’t already taken a bonus action this turn.
				Certain monasteries use specialized forms of the monk weapons. For example, you might use a club that is two lengths of wood connected by a short chain (called a nunchaku) or a sickle with a shorter, straighter blade (called a kama). Whatever name you use for a monk weapon, you can use the game statistics provided for the weapon in chapter 5, “Equipment.”
			
				level scaling
				1: 1d4
				5: 1d6
				11: 1d8
				17: 1d10
			*/

		}
	}
	level 2 {
		feature name="Ki" {
			description { // TODO: figure out how to display this saving throw in the UI as a computed value
				short "Spend Ki points to use extra features. They reset on a short or long rest."
				section "Starting at 2nd level, your training allows you to harness the mystic energy of ki. Your access to this energy is represented by a number of ki points. Your monk level determines the number of points you have, as shown in the Ki Points column of the Monk table.

				You can spend these points to fuel various ki features. You start knowing three such features: Flurry of Blows, Patient Defense, and Step of the Wind. You learn more ki features as you gain levels in this class.
				When you spend a ki point, it is unavailable until you finish a short or long rest, at the end of which you draw all of your expended ki back into yourself. You must spend at least 30 minutes of the rest meditating to regain your ki points.

				Some of your ki features require your target to make a saving throw to resist the feature's effects. The saving throw DC is calculated as follows:
				Ki save DC = 8 + your proficiency bonus + your Wisdom modifier"
			}
			action "Special" {
				limited_uses {
					max_uses (Evaluator)"get_level" class="Monk"
					reset_on (Rest)"Short"
				}
			}
		}
		feature name="Flurry of Blows" parent="Monk/level02/Ki" {
			description {
				short "1 Ki Point - Bonus Action to make 2 unarmed strikes after attacking"
				section "Immediately after you take the Attack action on your turn, you can spend 1 ki point to make two unarmed strikes as a bonus action."
			}
			action "Bonus"
		}
		feature name="Patient Defense" parent="Monk/level02/Ki" {
			description {
				short "1 Ki Point - Bonus Action to Dodge"
				section "You can spend 1 ki point to take the Dodge action as a bonus action on your turn."
			}
			action "Bonus"
		}
		feature name="Step of the Wind" parent="Monk/level02/Ki" {
			description {
				short "1 Ki Point - Bonus Action to Disengage or Dash + jump distance doubled"
				section "You can spend 1 ki point to take the Disengage or Dash action as a bonus action on your turn, and your jump distance is doubled for the turn."
			}
			action "Bonus"
		}
		feature name="Unarmored Movement" {
			description "Starting at 2nd level, your speed increases by 10 feet while you are not wearing armor or wielding a shield."
			criteria "has_armor_equipped" inverted=true
			mutator "speed" "Walking" (Additive)10
		}
	}
	level 3 {
		feature name="Deflect Missiles" {
			description {
				short "Deflect or catch a missile when you are hit by a ranged weapon attack. The damage you take from the attack is reduced by 1d10 + {damage}. If you reduce damage to 0 and have a free hand, you can spend 1 ki point to make a ranged attack (as with a monk weapon) with a range of 20/60."
				section "Starting at 3rd level, you can use your reaction to deflect or catch the missile when you are hit by a ranged weapon attack. When you do so, the damage you take from the attack is reduced by 1d10 + your Dexterity modifier + your monk level.
			
				If you reduce the damage to 0, you can catch the missile if it is small enough for you to hold in one hand and you have at least one hand free. If you catch a missile in this way, you can spend 1 ki point to make a ranged attack with the weapon or piece of ammunition you just caught, as part of the same reaction. You make this attack with proficiency, regardless of your weapon proficiencies, and the missile counts as a monk weapon for the attack, which has a normal range of 20 feet and a long range of 60 feet."
				format-arg "damage" (Evaluator)"math" "Add" {
					value (Evaluator)"get_ability_modifier" (Ability)"Dexterity"
					value (Evaluator)"get_level" class="Monk"
				}
			}
			action "Reaction"
		}
	}
	level 4 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
		feature name="Slow Fall" {
			description {
				short "Reaction - Reduce fall damage by {damage}"
				section "Beginning at 4th level, you can use your reaction when you fall to reduce any falling damage you take by an amount equal to five times your monk level ({damage})."
				format-arg "damage" (Evaluator)"math" "Multiply" {
					value 5
					value (Evaluator)"get_level" class="Monk"
				}
			}
			action "Reaction"
		}
	}
	level 5 {
		feature name="Extra Attack" unique=true {
			description {
				short "You can make multiple attacks when you take the attack action on your turn."
				section "Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn."
			}
			mutator "add_to_action_budget" "Attack" 1
		}
		feature name="Stunning Strike" parent="Monk/level02/Ki" {
			description {
				short "1 Ki Point - On Attack - target make {DC} CON save or be stunned until my next turned"
				section "Starting at 5th level, you can interfere with the flow of ki in an opponent's body. When you hit another creature with a melee weapon attack, you can spend 1 ki point to attempt a stunning strike. The target must succeed on a {DC} Constitution saving throw or be stunned until the end of your next turn."
				format-arg "DC" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
					value (Evaluator)"get_proficiency_bonus"
				}
			}
		}
	}
	level 6 {
		feature name="Unarmored Movement" parent="Monk/level02/Unarmored Movement" {
			description "At 6th level, your speed increases by 5 more feet (+15ft total) while you are not wearing armor or wielding a shield."
			criteria "has_armor_equipped" inverted=true
			mutator "speed" "Walking" (Additive)5
		}
		feature name="Ki-Empowered Strikes" {
			description "Starting at 6th level, your unarmed strikes count as magical for the purpose of overcoming resistance and immunity to nonmagical attacks and damage."
		}
	}
	level 7 {
		feature name="Evasion" {
			description {
				short "On DEX saving throw to take half damage on success, take no damage on success or half damage on fail."
				section "When you are subjected to an effect (such as a red dragon's fiery breath or a lightning bolt spell) that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail."
			}
		}
		feature name="Stillness of Mind" {
			description {
				short "Remove a charmed or frightended condition."
				section "Starting at 7th level, you can use your action to end one effect on yourself that is causing you to be charmed or frightened."
			}
			action "Action"
		}
	}
	level 8 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 9 {
		feature name="Unarmored Movement" parent="Monk/level02/Unarmored Movement" {
			description "At 9th level, you gain the ability to move along vertical surfaces and across liquids on your turn without falling during the move."
		}
	}
	level 10 {
		feature name="Unarmored Movement" parent="Monk/level02/Unarmored Movement" {
			description "At 10th level, your speed increases by 5 more feet (+20ft total) while you are not wearing armor or wielding a shield."
			criteria "has_armor_equipped" inverted=true
			mutator "speed" "Walking" (Additive)5
		}
		feature name="Purity of Body" {
			description "At 10th level, your mastery of the ki flowing through you makes you immune to disease and poison."
			mutator-todo "add_defense" "Immunity" "Disease"
			mutator-todo "add_defense" "Immunity" "Poison"
		}
	}
	level 12 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 13 {
		feature name="Tongue of the Sun and Moon" {
			description "Starting at 13th level, you learn to touch the ki of other minds so that you understand all spoken languages. Moreover, any creature that can understand a language can understand what you say."
		}
	}
	level 14 {
		feature name="Unarmored Movement" parent="Monk/level02/Unarmored Movement" {
			description "At 14th level, your speed increases by 5 more feet (+25ft total) while you are not wearing armor or wielding a shield."
			criteria "has_armor_equipped" inverted=true
			mutator "speed" "Walking" (Additive)5
		}
		feature name="Diamond Soul" parent="Monk/level02/Ki" {
			description "Beginning at 14th level, your mastery of ki grants you proficiency in all saving throws.
			Additionally, whenever you make a saving throw and fail, you can spend 1 ki point to reroll it and take the second result." {
				short "1 Ki Point - On failed saving throw, reroll it and take the second result."
			}
			mutator "add_proficiency" (SavingThrow)"Constitution"
			mutator "add_proficiency" (SavingThrow)"Intelligence"
			mutator "add_proficiency" (SavingThrow)"Wisdom"
			mutator "add_proficiency" (SavingThrow)"Charisma"
		}
	}
	level 15 {
		feature name="Timeless Body" {
			description "At 15th level, your ki sustains you so that you suffer none of the frailty of old age, and you can't be aged magically. You can still die of old age, however. In addition, you no longer need food or water."
		}
	}
	level 16 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 18 {
		feature name="Unarmored Movement" parent="Monk/level02/Unarmored Movement" {
			description "At 18th level, your speed increases by 5 more feet (+30ft total) while you are not wearing armor or wielding a shield."
			criteria "has_armor_equipped" inverted=true
			mutator "speed" "Walking" (Additive)5
		}
		feature name="Empty Body" parent="Monk/level02/Ki" {
			description {
				short "4 Ki Points - Action to become invisible and gain resistance to all damage but force damage for 1 minute.
				8 Ki Points - Action to cast the astral projection spell (for yourself only), without needing material components."
				section "Beginning at 18th level, you can use your action to spend 4 ki points to become invisible for 1 minute. During that time, you also have resistance to all damage but force damage.

				Additionally, you can spend 8 ki points to cast the astral projection spell, without needing material components. When you do so, you can-t take any other creatures with you."
			}
			mutator "feature" name="Invisibility (Empty Body)" parent="Monk/level02/Ki" {
				description "4 Ki Points - Become invisible for 1 minute + resistance to all damage except force damage."
				action "Action" {
					limited_uses {
						cost 4
						resource "Monk/level02/Ki"
					}
					condition "Custom" name="Invisibility (Empty Body)" {
						description "Ki-based Invisibility and Damage Resistance"
						// TODO: conditions can imply/cause other conditions
						implies "condition/invisible.kdl"
						mutator "add_defense" "Resistance" (DamageType)"Acid"
						mutator "add_defense" "Resistance" (DamageType)"Bludgeoning"
						mutator "add_defense" "Resistance" (DamageType)"Cold"
						mutator "add_defense" "Resistance" (DamageType)"Fire"
						mutator "add_defense" "Resistance" (DamageType)"Lightning"
						mutator "add_defense" "Resistance" (DamageType)"Necrotic"
						mutator "add_defense" "Resistance" (DamageType)"Piercing"
						mutator "add_defense" "Resistance" (DamageType)"Poison"
						mutator "add_defense" "Resistance" (DamageType)"Psychic"
						mutator "add_defense" "Resistance" (DamageType)"Radiant"
						mutator "add_defense" "Resistance" (DamageType)"Slashing"
						mutator "add_defense" "Resistance" (DamageType)"Thunder"
					}
				}
			}
			mutator "feature" name="Astral Projection" parent="Monk/level02/Ki" {
				description "8 Ki Points - Cast the Astral Projection spell (yourself only) without needing material components."
				action "Action" {
					limited_uses {
						cost 8
						resource "Monk/level02/Ki"
					}
				}
				mutator "spellcasting" "add_prepared" ability="Wisdom" {
					spell "spells/astralProjection.kdl"
					limited_uses {
						cost 8
						resource "Monk/level02/Ki"
					}
				}
			}
		}
	}
	level 19 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 20 {
		feature name="Perfect Self" {
			description "At 20th level, when you roll for initiative and have no ki points remaining, you regain 4 ki points."
		}
	}
}