class name="Paladin" {
	description "A holy warrior bound to a sacred oath"
	hit-die "d10"
	mutator "add_proficiency" (SavingThrow)"Wisdom"
	mutator "add_proficiency" (SavingThrow)"Charisma"
	mutator "add_proficiency" (Armor)"Light"
	mutator "add_proficiency" (Armor)"Medium"
	mutator "add_proficiency" (Armor)"Heavy"
	mutator "add_proficiency" (Armor)"Shield"
	mutator "add_proficiency" (Weapon)"Simple"
	mutator "add_proficiency" (Weapon)"Martial"
}