class name="Ranger" {
	description "A warrior who uses martial prowess and nature magic to combat threats on the edges of civilization"
	hit-die "d10"
	subclass-level 3
	multiclass-req "Dexterity" 13
	multiclass-req "Wisdom" 13

	// Mutators applied when this is a primary class
	mutator "add_proficiency" (SavingThrow)"Strength"
	mutator "add_proficiency" (SavingThrow)"Dexterity"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		option "AnimalHandling"
		option "Athletics"
		option "Insight"
		option "Investigation"
		option "Nature"
		option "Perception"
		option "Stealth"
		option "Survival"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		option "AnimalHandling"
		option "Athletics"
		option "Insight"
		option "Investigation"
		option "Nature"
		option "Perception"
		option "Stealth"
		option "Survival"
	}
	mutator-todo "add_starting_equipment" {
		pick-one {
			item "Specific" "items/armor/scale_mail.kdl"
			item "Specific" "items/armor/leather.kdl"
		}
		pick-one {
			group {
				item "Specific" "items/weapons/shortsword.kdl"
				item "Specific" "items/weapons/shortsword.kdl"
			}
			group {
				item "Select" kind="Simple" {
					attack "Melee"
				}
				item "Select" kind="Simple" {
					attack "Melee"
				}
			}
		}
		pick-one {
			item "Specific" "items/bundles/dungeoneer.kdl"
			item "Specific" "items/bundles/explorer.kdl"
		}
		item "Specific" "items/weapons/longbow.kdl"
		item "Specific" "items/ammunition/arrow.kdl" count=20
	}

	level 1 {
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Armor)"Medium"
		mutator "add_proficiency" (Armor)"Shield"
		mutator "add_proficiency" (Weapon)"Simple"
		mutator "add_proficiency" (Weapon)"Martial"
		mutator "add_proficiency" (Skill)"AnyOf" id="skillC" {
			option "AnimalHandling"
			option "Athletics"
			option "Insight"
			option "Investigation"
			option "Nature"
			option "Perception"
			option "Stealth"
			option "Survival"
		}
		/* TODO: Favored Enemy
			Beginning at 1st level, you have significant experience studying, tracking, hunting, and even talking to a certain type of enemy.

			Choose a type of favored enemy: aberrations, beasts, celestials, constructs, dragons, elementals, fey, fiends, giants, monstrosities, oozes, plants, or undead. Alternatively, you can select two races of humanoid (such as gnolls and orcs) as favored enemies.

			You have advantage on Wisdom (Survival) checks to track your favored enemies, as well as on Intelligence checks to recall information about them.

			When you gain this feature, you also learn one language of your choice that is spoken by your favored enemies, if they speak one at all.

			You choose one additional favored enemy, as well as an associated language, at 6th and 14th level. As you gain levels, your choices should reflect the types of monsters you have encountered on your adventures.
		*/
		/* TODO: Natural Explorer
			You are particularly familiar with one type of natural environment and are adept at traveling and surviving in such regions. Choose one type of favored terrain: arctic, coast, desert, forest, grassland, mountain, swamp, or the Underdark. When you make an Intelligence or Wisdom check related to your favored terrain, your proficiency bonus is doubled if you are using a skill that you’re proficient in.

			While traveling for an hour or more in your favored terrain, you gain the following benefits:

			Difficult terrain doesn’t slow your group’s travel.
			Your group can’t become lost except by magical means.
			Even when you are engaged in another activity while traveling (such as foraging, navigating, or tracking), you remain alert to danger.
			If you are traveling alone, you can move stealthily at a normal pace.
			When you forage, you find twice as much food as you normally would.
			While tracking other creatures, you also learn their exact number, their sizes, and how long ago they passed through the area.
			You choose additional favored terrain types at 6th and 10th level.
		*/
	}
	level 2 {
		feature name="Fighting Style" {
			description {
				short "You adopt a particular style of fighting as your specialty."
				section "You adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again."
			}
			mutator "pick" 1 name="Fighting Style" {
				option "Archery" {
					feature name="Archery" {
						// You gain a +2 bonus to attack rolls you make with ranged weapons.
						mutator-todo "attack_roll_bonus" {
							bonus 2
							restriction ranged=true {
								tag "Weapon"
							}
						}
					}
				}
				option "Defense" {
					feature name="Defense" {
						// While you are wearing armor, you gain a +1 bonus to AC.
						criteria "has_armor_equipped"
						mutator-todo "armor_class" {
							bonus 1
						}
					}
				}
				option "Dueling" {
					feature name="Dueling" {
						// When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.'
						criteria-todo "has_weapon_equipped" max=1 {
							attack "Melee"
							tag "Weapon"
							property "TwoHanded" false
						}
						mutator-todo "bonus_damage" {
							bonus 2
							restriction {
								attack "Melee"
								tag "Weapon"
								property "TwoHanded" false
							}
						}
					}
				}
				option "Two-Weapon Fighting" {
					feature name="Two-Weapon Fighting" {
						description "When you engage in two-weapon fighting, you can add your ability modifier to the damage of the second attack."
					}
				}
			}
		}
		feature name="Spellcasting" {
			description {
				short "You can cast known ranger spells using Wisdom as your spellcasting modifier (Spell DC {DC}, Spell Attack +{atk})."
				format-arg "DC" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_proficiency_bonus"
					value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
				}
				format-arg "atk" (Evaluator)"math" "Add" {
					value (Evaluator)"get_proficiency_bonus"
					value (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
				}
				section "By the time you reach 2nd level, you have learned to use the magical essence of nature to cast spells, much as a druid does."
				section (Title)"Spell Slots" "The Ranger table shows how many spell slots you have to cast your ranger spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.

				For example, if you know the 1st-level spell animal friendship and have a 1st-level and a 2nd-level spell slot available, you can cast animal friendship using either slot."
				section (Title)"Spells Known of 1st Level and Higher" "You know two 1st-level spells of your choice from the ranger spell list.

				The Spells Known column of the Ranger table shows when you learn more ranger spells of your choice. Each of these spells must be of a level for which you have spell slots. For instance, when you reach 5th level in this class, you can learn one new spell of 1st or 2nd level.

				Additionally, when you gain a level in this class, you can choose one of the ranger spells you know and replace it with another spell from the ranger spell list, which also must be of a level for which you have spell slots."
				section (Title)"Spellcasting Ability" "Wisdom is your spellcasting ability for your ranger spells, since your magic draws on your attunement to nature. You use your Wisdom whenever a spell refers to your spellcasting ability. In addition, you use your Wisdom modifier when setting the saving throw DC for a ranger spell you cast and when making an attack roll with one.

				Spell save DC = 8 + your proficiency bonus + your Wisdom modifier

				Spell attack modifier = your proficiency bonus + your Wisdom modifier"
			}
			mutator "spellcasting" ability="Wisdom" class="Ranger" {
				restriction {
					tag "Ranger"
				}
				/* Known caster (spells are added to the character at level up, when cantrips or spells-known increases)
					- must be spells with the Ranger tag
					- on any level up: can remove 1 spell from current known and replace it with any other Ranger spell
				*/
				kind "Known" {
					capacity {
						level 2 2
						level 3 3
						level 5 4
						level 7 5
						level 9 6
						level 11 7
						level 13 8
						level 15 9
						level 17 10
						level 19 11
					}
				}
				slots multiclass="Half" reset_on="Long" {
					rank 1 {
						level 2 2
						level 3 3
						level 5 4
					}
					rank 2 {
						level 5 2
						level 7 3
					}
					rank 3 {
						level 9 2
						level 11 3
					}
					rank 4 {
						level 13 1
						level 15 2
						level 17 3
					}
					rank 5 {
						level 17 1
						level 19 2
					}
				}
			}
		}
	}
	level 3 {
		/* TODO: Primeval Awareness
			Beginning at 3rd level, you can use your action and expend one ranger spell slot to focus your awareness on the region around you. For 1 minute per level of the spell slot you expend, you can sense whether the following types of creatures are present within 1 mile of you (or within up to 6 miles if you are in your favored terrain): aberrations, celestials, dragons, elementals, fey, fiends, and undead. This feature doesn’t reveal the creatures’ location or number.
		*/
	}
	level 4 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 5 {
		feature name="Extra Attack" unique=true {
			description {
				short "You can make multiple attacks when you take the attack action on your turn."
				section "Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn."
			}
			mutator "add_to_action_budget" "Attack" 1
		}
	}
	level 8 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
		feature name="Land's Stride" {
			description "Starting at 8th level, moving through nonmagical difficult terrain costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.

			In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such those created by the entangle spell."
			mutator "add_modifier" "Advantage" (SavingThrow)"All" context="plants which impede movement"
		}
	}
	level 10 {
		feature name="Hide in Plain Sight" {
			description "Starting at 10th level, you can spend 1 minute creating camouflage for yourself. You must have access to fresh mud, dirt, plants, soot, and other naturally occurring materials with which to create your camouflage.

			Once you are camouflaged in this way, you can try to hide by pressing yourself up against a solid surface, such as a tree or wall, that is at least as tall and wide as you are. You gain a +10 bonus to Dexterity (Stealth) checks as long as you remain there without moving or taking actions. Once you move or take an action or a reaction, you must camouflage yourself again to gain this benefit."
		}
	}
	level 12 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 14 {
		feature name="Vanish" {
			description "Starting at 14th level, you can use the Hide action as a bonus action on your turn. Also, you can't be tracked by nonmagical means, unless you choose to leave a trail."
			feature name="Hide" collapsed=true {
				description "Make a Dexterity (Stealth) check in an attempt to hide, following the rules for hiding.
				When a creature can't see you, you have advantage on attack rolls against it. If you are hidden--both unseen and unheard--when you make an attack, you give away your location when the attack hits or misses."
				action "Bonus"
			}
		}
	}
	level 16 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 18 {
		feature name="Feral Senses" {
			description "At 18th level, you gain preternatural senses that help you fight creatures you can't see. When you attack a creature you can't see, your inability to see it doesn't impose disadvantage on your attack rolls against it.

			You are also aware of the location of any invisible creature within 30 feet of you, provided that the creature isn't hidden from you and you aren't blinded or deafened."
		}
	}
	level 19 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 20 {
		feature name="Foe Slayer" {
			description {
				short "Once per turn, add Wisdom modifier (+{modifier}) to attack or damage roll against a favored enemy."
				section "At 20th level, you become an unparalleled hunter of your enemies. Once on each of your turns, you can add your Wisdom modifier (+{modifier}) to the attack roll or the damage roll of an attack you make against one of your favored enemies. You can choose to use this feature before or after the roll, but before any effects of the roll are applied."
				format-arg "modifier" (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
			}
		}
	}
}