class name="Ranger" {
	description "A warrior who uses martial prowess and nature magic to combat threats on the edges of civilization"
	hit-die "d10"
	subclass-level 3
	multiclass-req "Dexterity" 13
	multiclass-req "Wisdom" 13

	// Mutators applied when this is a primary class
	mutator "add_proficiency" (SavingThrow)"Strength"
	mutator "add_proficiency" (SavingThrow)"Dexterity"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		option "AnimalHandling"
		option "Athletics"
		option "Insight"
		option "Investigation"
		option "Nature"
		option "Perception"
		option "Stealth"
		option "Survival"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		option "AnimalHandling"
		option "Athletics"
		option "Insight"
		option "Investigation"
		option "Nature"
		option "Perception"
		option "Stealth"
		option "Survival"
	}
	mutator-todo "add_starting_equipment" {
		pick-one {
			item "Specific" "items/armor/scale_mail.kdl"
			item "Specific" "items/armor/leather.kdl"
		}
		pick-one {
			group {
				item "Specific" "items/weapons/shortsword.kdl"
				item "Specific" "items/weapons/shortsword.kdl"
			}
			group {
				item "Select" kind="Simple" {
					attack "Melee"
				}
				item "Select" kind="Simple" {
					attack "Melee"
				}
			}
		}
		pick-one {
			item "Specific" "items/bundles/dungeoneer.kdl"
			item "Specific" "items/bundles/explorer.kdl"
		}
		item "Specific" "items/weapons/longbow.kdl"
		item "Specific" "items/ammunition/arrow.kdl" count=20
	}

	level 1 {
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Armor)"Medium"
		mutator "add_proficiency" (Armor)"Shield"
		mutator "add_proficiency" (Weapon)"Simple"
		mutator "add_proficiency" (Weapon)"Martial"
		mutator "add_proficiency" (Skill)"AnyOf" id="skillC" {
			option "AnimalHandling"
			option "Athletics"
			option "Insight"
			option "Investigation"
			option "Nature"
			option "Perception"
			option "Stealth"
			option "Survival"
		}
		/* Favored Enemy
			Beginning at 1st level, you have significant experience studying, tracking, hunting, and even talking to a certain type of enemy.

			Choose a type of favored enemy: aberrations, beasts, celestials, constructs, dragons, elementals, fey, fiends, giants, monstrosities, oozes, plants, or undead. Alternatively, you can select two races of humanoid (such as gnolls and orcs) as favored enemies.

			You have advantage on Wisdom (Survival) checks to track your favored enemies, as well as on Intelligence checks to recall information about them.

			When you gain this feature, you also learn one language of your choice that is spoken by your favored enemies, if they speak one at all.

			You choose one additional favored enemy, as well as an associated language, at 6th and 14th level. As you gain levels, your choices should reflect the types of monsters you have encountered on your adventures.
		*/
		/* Natural Explorer
			You are particularly familiar with one type of natural environment and are adept at traveling and surviving in such regions. Choose one type of favored terrain: arctic, coast, desert, forest, grassland, mountain, swamp, or the Underdark. When you make an Intelligence or Wisdom check related to your favored terrain, your proficiency bonus is doubled if you are using a skill that you’re proficient in.

			While traveling for an hour or more in your favored terrain, you gain the following benefits:

			Difficult terrain doesn’t slow your group’s travel.
			Your group can’t become lost except by magical means.
			Even when you are engaged in another activity while traveling (such as foraging, navigating, or tracking), you remain alert to danger.
			If you are traveling alone, you can move stealthily at a normal pace.
			When you forage, you find twice as much food as you normally would.
			While tracking other creatures, you also learn their exact number, their sizes, and how long ago they passed through the area.
			You choose additional favored terrain types at 6th and 10th level.
		*/
	}
	level 2 {
		feature name="Fighting Style" {
			description "You adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again." {
				short "You adopt a particular style of fighting as your specialty."
			}
			// TODO: mutator-todo "pick_one" which prompts the user to pick a key from a list of options. That key determines which mutator+feature group to apply when the "pick_one" mutator is applied.
			mutator-todo "pick_one" name="Fighting Style" {
				option "Feature" "Archery" {
					// You gain a +2 bonus to attack rolls you make with ranged weapons.
					mutator "attack_roll_bonus" {
						bonus 2
						restriction ranged=true {
							tag "Weapon"
						}
					}
				}
				option "Feature" "Defense" {
					// While you are wearing armor, you gain a +1 bonus to AC.
					criteria "has_armor_equipped"
					mutator "armor_class" {
						bonus 1
					}
				}
				option "Feature" "Dueling" {
					// When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.'
					criteria "has_weapon_equipped" max=1 {
						attack "Melee"
						tag "Weapon"
						property "TwoHanded" false
					}
					mutator "bonus_damage" {
						bonus 2
						restriction {
							attack "Melee"
							tag "Weapon"
							property "TwoHanded" false
						}
					}
				}
				option "Feature" "Two-Weapon Fighting" {
					feature name="Two-Weapon Fighting" {
						description "When you engage in two-weapon fighting, you can add your ability modifier to the damage of the second attack."
					}
				}
			}
		}
		/* Spellcasting
			By the time you reach 2nd level, you have learned to use the magical essence of nature to cast spells, much as a druid does. See chapter 10 for the general rules of spellcasting and chapter 11 for the ranger spell list.

			Spell Slots
			The Ranger table shows how many spell slots you have to cast your ranger spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell’s level or higher. You regain all expended spell slots when you finish a long rest.

			For example, if you know the 1st-level spell animal friendship and have a 1st-level and a 2nd-level spell slot available, you can cast animal friendship using either slot.

			Spells Known of 1st Level and Higher
			You know two 1st-level spells of your choice from the ranger spell list.

			The Spells Known column of the Ranger table shows when you learn more ranger spells of your choice. Each of these spells must be of a level for which you have spell slots. For instance, when you reach 5th level in this class, you can learn one new spell of 1st or 2nd level.

			Additionally, when you gain a level in this class, you can choose one of the ranger spells you know and replace it with another spell from the ranger spell list, which also must be of a level for which you have spell slots.

			Spellcasting Ability
			Wisdom is your spellcasting ability for your ranger spells, since your magic draws on your attunement to nature. You use your Wisdom whenever a spell refers to your spellcasting ability. In addition, you use your Wisdom modifier when setting the saving throw DC for a ranger spell you cast and when making an attack roll with one.

			Spell save DC = 8 + your proficiency bonus + your Wisdom modifier

			Spell attack modifier = your proficiency bonus + your Wisdom modifier
		*/
	}
	level 3 {
		/* Primeval Awareness
			Beginning at 3rd level, you can use your action and expend one ranger spell slot to focus your awareness on the region around you. For 1 minute per level of the spell slot you expend, you can sense whether the following types of creatures are present within 1 mile of you (or within up to 6 miles if you are in your favored terrain): aberrations, celestials, dragons, elementals, fey, fiends, and undead. This feature doesn’t reveal the creatures’ location or number.
		*/
	}
	level 4 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 5 {
		feature name="Extra Attack" unique=true {
			description "Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn." {
				short "You can make multiple attacks when you take the attack action on your turn."
			}
			mutator-todo "add_extra_attack"
		}
	}
	level 8 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
		feature name="Land's Stride" {
			description "Starting at 8th level, moving through nonmagical difficult terrain costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.

			In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such those created by the entangle spell."
			mutator "add_modifier" "Advantage" (SavingThrow)"All" context="plants which impede movement"
		}
	}
	level 10 {
		feature name="Hide in Plain Sight" {
			description "Starting at 10th level, you can spend 1 minute creating camouflage for yourself. You must have access to fresh mud, dirt, plants, soot, and other naturally occurring materials with which to create your camouflage.

			Once you are camouflaged in this way, you can try to hide by pressing yourself up against a solid surface, such as a tree or wall, that is at least as tall and wide as you are. You gain a +10 bonus to Dexterity (Stealth) checks as long as you remain there without moving or taking actions. Once you move or take an action or a reaction, you must camouflage yourself again to gain this benefit."
		}
	}
	level 12 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 14 {
		feature name="Vanish" {
			description "Starting at 14th level, you can use the Hide action as a bonus action on your turn. Also, you can't be tracked by nonmagical means, unless you choose to leave a trail."
			mutator "add_action" name="Hide" {
				description "Make a Dexterity (Stealth) check in an attempt to hide, following the rules for hiding.
				When a creature can't see you, you have advantage on attack rolls against it. If you are hidden--both unseen and unheard--when you make an attack, you give away your location when the attack hits or misses."
				activation "Bonus"
			}
		}
	}
	level 16 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 18 {
		feature name="Feral Senses" {
			description "At 18th level, you gain preternatural senses that help you fight creatures you can't see. When you attack a creature you can't see, your inability to see it doesn't impose disadvantage on your attack rolls against it.

			You are also aware of the location of any invisible creature within 30 feet of you, provided that the creature isn't hidden from you and you aren't blinded or deafened."
		}
	}
	level 19 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 20 {
		feature name="Foe Slayer" {
			description "At 20th level, you become an unparalleled hunter of your enemies. Once on each of your turns, you can add your Wisdom modifier (+{modifier}) to the attack roll or the damage roll of an attack you make against one of your favored enemies. You can choose to use this feature before or after the roll, but before any effects of the roll are applied." {
				short "Once per turn, add Wisdom modifier (+{modifier}) to attack or damage roll against a favored enemy."
				format-arg "modifier" (Evaluator)"get_ability_modifier" (Ability)"Wisdom"
			}
		}
	}
}
subclass class="Ranger" name="Hunter" {
	description "Emulating the Hunter archetype means accepting your place as a bulwark between civilization and the terrors of the wilderness. As you walk the Hunter's path, you learn specialized techniques for fighting the threats you face, from rampaging ogres and hordes of orcs to towering giants and terrifying dragons."
	level 3 {
		mutator-todo "pick_one" name="Hunter's Prey" {
			option "Feature" name="Colossus Slayer" {
				description "Your tenacity can wear down the most potent foes. When you hit a creature with a weapon attack, the creature takes an extra 1d8 damage if it's below its hit point maximum. You can deal this extra damage only once per turn." {
					short "Bonus 1d8 damage on a weapon attack, once per turn, when the target is below its hit point maximum."
				}
			}
			option "Action" name="Giant Killer" {
				description "When a Large or larger creature within 5 feet of you hits or misses you with an attack, you can use your reaction to attack that creature immediately after its attack, provided that you can see the creature."
				activation "Reaction"
			}
			option "Feature" name="Horde Breaker" {
				description "Once on each of your turns when you make a weapon attack, you can make another attack with the same weapon against a different creature that is within 5 feet of the original target and within range of your weapon."
			}
		}
	}
	level 7 {
		mutator-todo "pick_one" name="Defensive Tactics" {
			option "Feature" name="Escape the Horde" {
				description "Opportunity attacks against you are made with disadvantage."
			}
			option "Feature" name="Multiattack Defense" {
				description "When a creature hits you with an attack, you gain a +4 bonus to AC against all subsequent attacks made by that creature for the rest of the turn."
			}
			option "Mutators" name="Steel Will" {
				mutator "add_modifier" "Advantage" (SavingThrow)"All" context="bring frightened"
			}
		}
	}
	level 11 {
		mutator-todo "pick_one" name="Multiattack" {
			option "Action" name="Volley" {
				description "You can use your action to make a ranged attack against any number of creatures within 10 feet of a point you can see within your weapon's range. You must have ammunition for each target, as normal, and you make a separate attack roll for each target." {
					short "Make a ranged attack against creatures within 10 feet of a point you can see within range. Make separate attack roles and ammunition for each target."
				}
				activation "Action"
			}
			option "Action" name="Whirlwind Attack" {
				description "You can use your action to make a melee attack against any number of creatures within 5 feet of you, with a separate attack roll for each target." {
					short "Make a melee attack against creatures within 5 feet you. Make separate attack roles for each target."
				}
				activation "Action"
			}
		}
	}
	level 15 {
		mutator-todo "pick_one" name="Superior Hunter's Defense" {
			option "Feature" name="Evasion" {
				description "When you are subjected to an effect, such as a red dragon's fiery breath or a lightning bolt spell, that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail." {
					short "On DEX saving throw to take half damage on success, take no damage on success or half damage on fail."
				}
			}
			option "Action" name="Stand Against the Tide" {
				description "When a hostile creature misses you with a melee attack, you can use your reaction to force that creature to repeat the same attack against another creature (other than itself) of your choice." {
					short "Redirect a failed melee attack against you onto another creature within range."
				}
				activation "Reaction"
			}
			option "Action" name="Uncanny Dodge" {
				description "When an attacker that you can see hits you with an attack, you can use your reaction to halve the attack's damage against you." {
					short "Halve the damage you take from an attack that you can see."
				}
				activation "Reaction"
			}
		}
	}
}