class name="Rogue" {
	description "A scoundrel who uses stealth and trickery to overcome obstacles and enemies"
	hit-die "d8"
	subclass-level 3
	multiclass-req "Dexterity" 13

	// Mutators applied when this is a primary class
	mutator "add_proficiency" (SavingThrow)"Dexterity"
	mutator "add_proficiency" (SavingThrow)"Intelligence"
	mutator "add_proficiency" (Weapon)"Simple"
	mutator "add_proficiency" (Weapon)"CrossbowHand"
	mutator "add_proficiency" (Weapon)"Longsword"
	mutator "add_proficiency" (Weapon)"Rapier"
	mutator "add_proficiency" (Weapon)"Shortsword"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		cannot-match "skillC"
		option "Acrobatics"
		option "Athletics"
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Investigation"
		option "Perception"
		option "Performance"
		option "Persuasion"
		option "SleightOfHand"
		option "Stealth"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		cannot-match "skillC"
		option "Acrobatics"
		option "Athletics"
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Investigation"
		option "Perception"
		option "Performance"
		option "Persuasion"
		option "SleightOfHand"
		option "Stealth"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillC" {
		cannot-match "skillA"
		cannot-match "skillB"
		option "Acrobatics"
		option "Athletics"
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Investigation"
		option "Perception"
		option "Performance"
		option "Persuasion"
		option "SleightOfHand"
		option "Stealth"
	}
	mutator "add_starting_equipment" {
		group pick=1 {
			item "Specific" "items/weapons/rapier.kdl"
			item "Specific" "items/weapons/shortsword.kdl"
		}
		group pick=1 {
			group {
				item "Specific" "items/weapons/shortbow.kdl"
				item "Specific" "items/ammunition/arrow.kdl" count=20
			}
			item "Specific" "items/weapons/shortsword.kdl"
		}
		group pick=1 {
			item "Specific" "items/bundles/burglar.kdl"
			item "Specific" "items/bundles/dungeoneer.kdl"
			item "Specific" "items/bundles/explorer.kdl"
		}
		item "Specific" "items/armor/leather.kdl"
		item "Specific" "items/weapon/dagger.kdl"
		item "Specific" "items/weapon/dagger.kdl"
		item "Specific" "items/tools/thieves.kdl"
	}

	level 1 {
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Tool)"Specific" "Thieves' Tools"
		mutator "add_proficiency" (Skill)"AnyOf" id="skillD" {
			option "Acrobatics"
			option "Athletics"
			option "Deception"
			option "Insight"
			option "Intimidation"
			option "Investigation"
			option "Perception"
			option "Performance"
			option "Persuasion"
			option "SleightOfHand"
			option "Stealth"
		}
		feature name="Expertise" {
			description {
				short "Your proficiency bonus is doubled for either 2 skill proficiencies or a skill proficiency and thieves' tools."
				section "At 1st level, choose two of your skill proficiencies, or one of your skill proficiencies and your proficiency with thieves' tools. Your proficiency bonus is doubled for any ability check you make that uses either of the chosen proficiencies."
			}
			// TODO: add_proficiency "Double" for 1 skill and either a skill or thieves' tools as long as the character is already proficient with those options. This will require some way to query what skills/items the character is already proficient with to be displayed a selection.
		}
		feature name="Sneak Attack" {
			description {
				short "Additional {roll-amt}d6 damage when attacking finesse or ranged weapon if either:
				- you have advantage on attack roll
				- you don't have disadvantage on the roll and the target has an enemy within 5 feet which isn't incapacitated"
				section "Beginning at 1st level, you know how to strike subtly and exploit a foe's distraction. Once per turn, you can deal an extra 1d6 damage to one creature you hit with an attack if you have advantage on the attack roll. The attack must use a finesse or a ranged weapon.
			
				You don't need advantage on the attack roll if another enemy of the target is within 5 feet of it, that enemy isn't incapacitated, and you don't have disadvantage on the attack roll."
				format-arg "roll-amt" (Evaluator)"get_level" class="Rogue" {
					level 1 1
					level 3 2
					level 5 3
					level 7 4
					level 9 5
					level 11 6
					level 13 7
					level 15 8
					level 17 9
					level 19 10
				}
			}
		}
		feature name="Thieves' Cant" {
			description "During your rogue training you learned thieves' cant, a secret mix of dialect, jargon, and code that allows you to hide messages in seemingly normal conversation. Only another creature that knows thieves' cant understands such messages. It takes four times longer to convey such a message than it does to speak the same idea plainly.

			In addition, you understand a set of secret signs and symbols used to convey short, simple messages, such as whether an area is dangerous or the territory of a thieves' guild, whether loot is nearby, or whether the people in an area are easy marks or will provide a safe house for thieves on the run."
		}
	}
	level 2 {
		feature name="Cunning Action" {
			description {
				short "You can Dash, Disengage, or Hide as a bonus action"
				section "Starting at 2nd level, your quick thinking and agility allow you to move and act quickly. You can take a bonus action on each of your turns in combat. This action can be used only to take the Dash, Disengage, or Hide action."
			}
		}
		feature name="Dash" collapsed=true {
			description {
				short "You double your movement speed for the current turn."
				section "You gain extra movement for the current turn equal to your speed, after applying any modifiers. With a speed of 30 feet, for example, you can move up to 60 feet on your turn if you dash.

				Any increase or decrease to your speed changes this additional movement by the same amount. If your speed of 30 feet is reduced to 15 feet, for instance, you can move up to 30 feet this turn if you dash."
			}
			action "Bonus"
		}
		feature name="Disengage" collapsed=true {
			description "Your movement doesn't provoke opportunity attacks for the rest of the turn."
			action "Bonus"
		}
		feature name="Hide" collapsed=true {
			description "Make a Dexterity (Stealth) check in an attempt to hide, following the rules for hiding.
			When a creature can't see you, you have advantage on attack rolls against it. If you are hidden--both unseen and unheard--when you make an attack, you give away your location when the attack hits or misses."
			action "Bonus"
		}
	}
	level 4 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 5 {
		feature name="Uncanny Dodge" {
			description {
				short "Halve the damage you take from an attack that you can see."
				section "When an attacker that you can see hits you with an attack, you can use your reaction to halve the attack's damage against you."
			}
			action "Reaction"
		}
	}
	level 6 {
		feature name="Expertise" {
			description {
				short "Your proficiency bonus is doubled for either 2 skill proficiencies or a skill proficiency and thieves' tools."
				section "At 6th level, you can choose two more of your proficiencies (in skills or with thieves' tools) to gain this benefit."
			}
			// TODO: add_proficiency "Double" for 1 skill and either a skill or thieves' tools as long as the character is already proficient with those options. This will require some way to query what skills/items the character is already proficient with to be displayed a selection.
		}
	}
	level 7 {
		feature name="Evasion" {
			description {
				short "On DEX saving throw to take half damage on success, take no damage on success or half damage on fail."
				section "When you are subjected to an effect (such as a red dragon's fiery breath or a lightning bolt spell) that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail."
			}
		}
	}
	level 8 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 10 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 11 {
		feature name="Reliable Talent" {
			description {
				short "When you roll a 9 or lower on a d20 ability check that you are proficient in, you can treat the roll as a 10."
				section "By 11th level, you have refined your chosen skills until they approach perfection. Whenever you make an ability check that lets you add your proficiency bonus, you can treat a d20 roll of 9 or lower as a 10."
			}
		}
	}
	level 12 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 14 {
		feature name="Blindsense" {
			description "Starting at 14th level, if you are able to hear, you are aware of the location of any hidden or invisible creature within 10 feet of you."
			mutator "sense" "Blindsense" (Base)10 context="if you can hear"
		}
	}
	level 15 {
		feature name="Slippery Mind" {
			description "By 15th level, you have acquired greater mental strength. You gain proficiency in Wisdom saving throws."
			mutator "add_proficiency" (SavingThrow)"Wisdom"
		}
	}
	level 16 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 18 {
		feature name="Elusive" {
			description {
				short "If you aren't incapacitated, attack rolls against you are not made with advantage."
				section "Beginning at 18th level, you are so evasive that attackers rarely gain the upper hand against you. No attack roll has advantage against you while you aren't incapacitated."
			}
		}
	}
	level 19 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator-todo "feature" category="Feat"
			}
		}
	}
	level 20 {
		feature name="Stroke of Luck" {
			description {
				short "You can either:
				- When you miss an attack, treat the attack as a hit
				- When you fail an ability check, treat the d20 roll as a 20"
				section "At 20th level, you have an uncanny knack for succeeding when you need to. If your attack misses a target within range, you can turn the miss into a hit. Alternatively, if you fail an ability check, you can treat the d20 roll as a 20."
			}
			limited_uses {
				max_uses 1
				reset_on "Short"
			}
		}
	}
}