class name="Rogue" {
	description "A scoundrel who uses stealth and trickery to overcome obstacles and enemies"
	hit-die "d8"
	subclass-level 3
	multiclass-req "Dexterity" 13

	// Mutators applied when this is a primary class
	mutator "add_proficiency" (SavingThrow)"Dexterity"
	mutator "add_proficiency" (SavingThrow)"Intelligence"
	mutator "add_proficiency" (Weapon)"Simple"
	mutator "add_proficiency" (Weapon)"CrossbowHand"
	mutator "add_proficiency" (Weapon)"Longsword"
	mutator "add_proficiency" (Weapon)"Rapier"
	mutator "add_proficiency" (Weapon)"Shortsword"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		cannot-match "skillC"
		option "Acrobatics"
		option "Athletics"
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Investigation"
		option "Perception"
		option "Performance"
		option "Persuasion"
		option "SleightOfHand"
		option "Stealth"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		cannot-match "skillC"
		option "Acrobatics"
		option "Athletics"
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Investigation"
		option "Perception"
		option "Performance"
		option "Persuasion"
		option "SleightOfHand"
		option "Stealth"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillC" {
		cannot-match "skillA"
		cannot-match "skillB"
		option "Acrobatics"
		option "Athletics"
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Investigation"
		option "Perception"
		option "Performance"
		option "Persuasion"
		option "SleightOfHand"
		option "Stealth"
	}
	mutator-todo "add_starting_equipment" {
		pick-one {
			item "Specific" "items/weapons/rapier.kdl"
			item "Specific" "items/weapons/shortsword.kdl"
		}
		pick-one {
			group {
				item "Specific" "items/weapons/shortbow.kdl"
				item "Specific" "items/ammunition/arrow.kdl" count=20
			}
			item "Specific" "items/weapons/shortsword.kdl"
		}
		pick-one {
			item "Specific" "items/bundles/burglar.kdl"
			item "Specific" "items/bundles/dungeoneer.kdl"
			item "Specific" "items/bundles/explorer.kdl"
		}
		item "Specific" "items/armor/leather.kdl"
		item "Specific" "items/weapon/dagger.kdl"
		item "Specific" "items/weapon/dagger.kdl"
		item "Specific" "items/tools/thieves.kdl"
	}

	level 1 {
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Tool)"Specific" "Thieves' Tools"
		mutator "add_proficiency" (Skill)"AnyOf" id="skillD" {
			option "Acrobatics"
			option "Athletics"
			option "Deception"
			option "Insight"
			option "Intimidation"
			option "Investigation"
			option "Perception"
			option "Performance"
			option "Persuasion"
			option "SleightOfHand"
			option "Stealth"
		}
		/*
			Expertise
			At 1st level, choose two of your skill proficiencies, or one of your skill proficiencies and your proficiency with thieves’ tools. Your proficiency bonus is doubled for any ability check you make that uses either of the chosen proficiencies.

			At 6th level, you can choose two more of your proficiencies (in skills or with thieves’ tools) to gain this benefit.
		*/
		/*
			Sneak Attack
			Beginning at 1st level, you know how to strike subtly and exploit a foe’s distraction. Once per turn, you can deal an extra 1d6 damage to one creature you hit with an attack if you have advantage on the attack roll. The attack must use a finesse or a ranged weapon.

			You don’t need advantage on the attack roll if another enemy of the target is within 5 feet of it, that enemy isn’t incapacitated, and you don’t have disadvantage on the attack roll.

			The amount of the extra damage increases as you gain levels in this class, as shown in the Sneak Attack column of the Rogue table.
		*/
		/*
			Thieves’ Cant
			During your rogue training you learned thieves’ cant, a secret mix of dialect, jargon, and code that allows you to hide messages in seemingly normal conversation. Only another creature that knows thieves’ cant understands such messages. It takes four times longer to convey such a message than it does to speak the same idea plainly.

			In addition, you understand a set of secret signs and symbols used to convey short, simple messages, such as whether an area is dangerous or the territory of a thieves’ guild, whether loot is nearby, or whether the people in an area are easy marks or will provide a safe house for thieves on the run.
		*/
	}
	level 2 {
		/*
			Cunning Action
			Starting at 2nd level, your quick thinking and agility allow you to move and act quickly. You can take a bonus action on each of your turns in combat. This action can be used only to take the Dash, Disengage, or Hide action.
		*/
	}
	level 4 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 5 {
		/*
			Uncanny Dodge
			Starting at 5th level, when an attacker that you can see hits you with an attack, you can use your reaction to halve the attack’s damage against you.
		*/
	}
	level 7 {
		/*
			Evasion
			Beginning at 7th level, you can nimbly dodge out of the way of certain area effects, such as a red dragon’s fiery breath or an ice storm spell. When you are subjected to an effect that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail.
		*/
	}
	level 8 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 10 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 11 {
		/*
			Reliable Talent
			By 11th level, you have refined your chosen skills until they approach perfection. Whenever you make an ability check that lets you add your proficiency bonus, you can treat a d20 roll of 9 or lower as a 10.
		*/
	}
	level 12 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 14 {
		/*
			Blindsense
			Starting at 14th level, if you are able to hear, you are aware of the location of any hidden or invisible creature within 10 feet of you.
		*/
	}
	level 15 {
		/*
			Slippery Mind
			By 15th level, you have acquired greater mental strength. You gain proficiency in Wisdom saving throws.
		*/
	}
	level 16 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 18 {
		/*
			Elusive
			Beginning at 18th level, you are so evasive that attackers rarely gain the upper hand against you. No attack roll has advantage against you while you aren’t incapacitated.
		*/
	}
	level 19 {
		mutator-todo "pick_one" name="Ability Score Improvement" {
			option "Mutators" name="Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Mutators" name="Feat" {
				// TODO: grant any named-group that has the "Feat" category
				mutator "feature" category="Feat"
			}
		}
	}
	level 20 {
		/*
			Stroke of Luck
			At 20th level, you have an uncanny knack for succeeding when you need to. If your attack misses a target within range, you can turn the miss into a hit. Alternatively, if you fail an ability check, you can treat the d20 roll as a 20.

			Once you use this feature, you can’t use it again until you finish a short or long rest.
		*/
	}
}
subclass class="Rogue" name="Thief" {
	description "You hone your skills in the larcenous arts. Burglars, bandits, cutpurses, and other criminals typically follow this archetype, but so do rogues who prefer to think of themselves as professional treasure seekers, explorers, delvers, and investigators. In addition to improving your agility and stealth, you learn skills useful for delving into ancient ruins, reading unfamiliar languages, and using magic items you normally couldn't employ."
	level 3 {
		/*
			Fast Hands
			Starting at 3rd level, you can use the bonus action granted by your Cunning Action to make a Dexterity (Sleight of Hand) check, use your thieves’ tools to disarm a trap or open a lock, or take the Use an Object action.
		*/
		/*
			Second-Story Work
			When you choose this archetype at 3rd level, you gain the ability to climb faster than normal; climbing no longer costs you extra movement.

			In addition, when you make a running jump, the distance you cover increases by a number of feet equal to your Dexterity modifier.
		*/
	}
	level 9 {
		/*
			Supreme Sneak
			Starting at 9th level, you have advantage on a Dexterity (Stealth) check if you move no more than half your speed on the same turn.
		*/
	}
	level 13 {
		/*
			Use Magic Device
			By 13th level, you have learned enough about the workings of magic that you can improvise the use of items even when they are not intended for you. You ignore all class, race, and level requirements on the use of magic items.
		*/
	}
	level 17 {
		/*
			Thief’s Reflexes
			When you reach 17th level, you have become adept at laying ambushes and quickly escaping danger. You can take two turns during the first round of any combat. You take your first turn at your normal initiative and your second turn at your initiative minus 10. You can’t use this feature when you are surprised.
		*/
	}
}