class name="Sorcerer" {
	description "A spellcaster who draws on inherent magic from a gift or bloodline"
	hit-die "d6"
	mutator "add_proficiency" (SavingThrow)"Constitution"
	mutator "add_proficiency" (SavingThrow)"Charisma"
	mutator "add_proficiency" (Weapon)"Dagger"
	mutator "add_proficiency" (Weapon)"Dart"
	mutator "add_proficiency" (Weapon)"Sling"
	mutator "add_proficiency" (Weapon)"Quarterstaff"
	mutator "add_proficiency" (Weapon)"CrossbowLight"
}