class name="Warlock" {
	description "A wielder of magic that is derived from a bargain with an extraplanar entity"
	hit-die "d8"
	/* Otherworldly Patron
		At 1st level, you have struck a bargain with an otherworldly being of your choice: the Archfey, the Fiend, or the Great Old One, each of which is detailed at the end of the class description. Your choice grants you features at 1st level and again at 6th, 10th, and 14th level.
		
		The beings that serve as patrons for warlocks are mighty inhabitants of other planes of existence — not gods, but almost godlike in their power. Various patrons give their warlocks access to different powers and invocations, and expect significant favors in return.

		Some patrons collect warlocks, doling out mystic knowledge relatively freely or boasting of their ability to bind mortals to their will. Other patrons bestow their power only grudgingly, and might make a pact with only one warlock. Warlocks who serve the same patron might view each other as allies, siblings, or rivals.
	*/
	subclass-level 1
	multiclass-req "Charisma" 13

	mutator "add_proficiency" (SavingThrow)"Wisdom"
	mutator "add_proficiency" (SavingThrow)"Charisma"
	mutator "add_proficiency" (Skill)"AnyOf" id="skillA" {
		cannot-match "skillB"
		option "Arcana"
		option "Deception"
		option "History"
		option "Intimidation"
		option "Investigation"
		option "Nature"
		option "Religion"
	}
	mutator "add_proficiency" (Skill)"AnyOf" id="skillB" {
		cannot-match "skillA"
		option "Arcana"
		option "Deception"
		option "History"
		option "Intimidation"
		option "Investigation"
		option "Nature"
		option "Religion"
	}
	mutator "add_starting_equipment" {
		group pick=1 {
			group {
				item "Specific" "items/weapons/crossbow_light.kdl"
				item "Specific" "items/ammunition/crossbow_bolt.kdl" count=20
			}
			item "Select" {
				weapon kind="Simple"
			}
		}
		group pick=1 {
			item "Specific" "items/gear/componentPouch.kdl"
			item "Select" {
				tag "Arcane Focus"
			}
		}
		group pick=1 {
			item "Specific" "items/bundles/scholar.kdl"
			item "Specific" "items/bundles/dungeoneer.kdl"
		}
		item "Specific" "items/armor/leather.kdl"
		item "Select" {
			weapon kind="Simple"
		}
		item "Specific" "items/weapon/dagger.kdl"
		item "Specific" "items/weapon/dagger.kdl"
	}

	level 1 {
		mutator "add_proficiency" (Armor)"Light"
		mutator "add_proficiency" (Weapon)"Simple"
		mutator "feature" name="Pact Magic" {
			description {
				short "You can cast known warlock spells using Charisma as your spellcasting modifier (Spell DC {DC}, Spell Attack +{atk}). You can use an arcane focus as a spellcasting focus."
				format-arg "DC" "int" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_proficiency_bonus"
					value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
				}
				format-arg "atk" "int" (Evaluator)"math" "Add" {
					value (Evaluator)"get_proficiency_bonus"
					value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
				}
				section "Your arcane research and the magic bestowed on you by your patron have given you facility with spells."
				section (Title)"Cantrips" "You know two cantrips of your choice from the warlock spell list. You learn additional warlock cantrips of your choice at higher levels."
				section (Title)"Spell Slots" "The Warlock table shows how many spell slots you have to cast your warlock spells of 1st through 5th level. The table also shows what the level of those slots is; all of your spell slots are the same level. To cast one of your warlock spells of 1st level or higher, you must expend a spell slot. You regain all expended Pact Magic spell slots when you finish a short or long rest.

				For example, when you are 5th level, you have two 3rd-level spell slots. To cast the 1st-level spell witch bolt, you must spend one of those slots, and you cast it as a 3rd-level spell."
				section (Title)"Spells Known of 1st Level and Higher" "At 1st level, you know two 1st-level spells of your choice from the warlock spell list.

				The Spells Known column of the Warlock table shows when you learn more warlock spells of your choice of 1st level and higher. A spell you choose must be of a level no higher than what's shown in the table's Slot Level column for your level. When you reach 6th level, for example, you learn a new warlock spell, which can be 1st, 2nd, or 3rd level.

				Additionally, when you gain a level in this class, you can choose one of the warlock spells you know and replace it with another spell from the warlock spell list, which also must be of a level for which you have spell slots."
				section (Title)"Spellcasting Ability" "Charisma is your spellcasting ability for your warlock spells, so you use your Charisma whenever a spell refers to your spellcasting ability. In addition, you use your Charisma modifier when setting the saving throw DC for a warlock spell you cast and when making an attack roll with one.

				Spell save DC = 8 + your proficiency bonus + your Charisma modifier

				Spell attack modifier = your proficiency bonus + your Charisma modifier"
				section (Title)"Spellcasting Focus" "You can use an arcane focus as a spellcasting focus for your warlock spells."
			}
			mutator "spellcasting" ability="Charisma" class="Warlock" {
				focus-todo {
					tag "Arcane Focus"
				}
				restriction {
					tag "Warlock"
				}
				cantrips {
					level 1 2
					level 4 3
					level 10 4
				}
				/* Known caster (spells are added to the character at level up, when cantrips or spells-known increases)
					- must be spells with the Warlock tag
					- on any level up: can remove 1 spell from current known and replace it with any other Warlock spell
				*/
				kind "Known" {
					capacity {
						level 1 2
						level 2 3
						level 3 4
						level 4 5
						level 5 6
						level 6 7
						level 7 8
						level 8 9
						level 9 10
						level 11 11
						level 13 12
						level 15 13
						level 17 14
						level 19 15
					}
				}
				slots "Bonus" reset_on="Short" {
					level 1 {
						rank 1 1
					}
					level 2 {
						rank 1 2
					}
					level 3 {
						rank 2 2
					}
					level 5 {
						rank 3 2
					}
					level 7 {
						rank 4 2
					}
					level 9 {
						rank 5 2
					}
					level 11 {
						rank 5 3
					}
					level 17 {
						rank 5 4
					}
				}
			}
		}
	}
	level 2 {
		mutator "feature" name="Eldritch Invocations" {
			description {
				section "In your study of occult lore, you have unearthed eldritch invocations, fragments of forbidden knowledge that imbue you with an abiding magical ability."
				section "At 2nd level, you gain two eldritch invocations of your choice. When you gain certain warlock levels (5, 7, 9, 12, 15, & 18), you gain additional invocations of your choice. Additionally, when you gain a level in this class, you can choose one of the invocations you know and replace it with another invocation that you could learn at that level."
			}
			mutator "add_bundle" category="Eldritch Invocation" {
				// TODO: add_bundle suppport an evaluator for the number that can be selected
				amount (Evaluator)"get_level" class="Warlock" {
					level 2 2
					level 5 3
					level 7 4
					level 9 5
					level 12 6
					level 15 7
					level 18 8
				}
			}
		}
	}
	level 3 {
		mutator "pick" 1 name="Pact Boon" {
			description "At 3rd level, your otherworldly patron bestows a gift upon you for your loyal service. You gain one of the following features of your choice. Each Pact Boon option produces a special creature or an object that reflects your patron's nature."
			option "Pact of the Chain" {
				description "Your familiar is more cunning than a typical familiar. Its default form can be a reflection of your patron, with sprites and pseudodragons tied to the Archfey and imps and quasits tied to the Fiend. Because the Great Old One's nature is inscrutable, any familiar form is suitable for it."
				mutator "feature" name="Pact of the Chain" {
					description {
						short "You can summon a familiar and forgo an attack to allow your familiar to make one attack using its reaction."
						section "You learn the find familiar spell and can cast it as a ritual. The spell doesn't count against your number of spells known.
						When you cast the spell, you can choose one of the normal forms for your familiar or one of the following special forms: imp, pseudodragon, quasit, or sprite.
						Additionally, when you take the Attack action, you can forgo one of your own attacks to allow your familiar to make one attack of its own with its reaction."
					}
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Warlock" {
						spell "spells/findFamiliar.kdl" use_ritual=true
					}
				}
			}
			option "Pact of the Blade" {
				description "If your patron is the Archfey, your weapon might be a slender blade wrapped in leafy vines. If you serve the Fiend, your weapon could be an axe made of black metal and adorned with decorative flames. If your patron is the Great Old One, your weapon might be an ancient-looking spear, with a gemstone embedded in its head, carved to look like a terrible unblinking eye."
				mutator "feature" name="Pact of the Blade" {
					description {
						short "You can summon a pact weapon in your empty hand. You are always proficient with this weapon and it counts as magic or the purpose of overcoming resistance and immunity to nonmagical attacks and damage."
						section "You can use your action to create a pact weapon in your empty hand. You can choose the form that this melee weapon takes each time you create it. You are proficient with it while you wield it. This weapon counts as magical for the purpose of overcoming resistance and immunity to nonmagical attacks and damage."
						section "Your pact weapon disappears if it is more than 5 feet away from you for 1 minute or more. It also disappears if you use this feature again, if you dismiss the weapon (no action required), or if you die."
						section "You can transform one magic weapon into your pact weapon by performing a special ritual while you hold the weapon. You perform the ritual over the course of 1 hour, which can be done during a short rest. You can then dismiss the weapon, shunting it into an extradimensional space, and it appears whenever you create your pact weapon thereafter. You can't affect an artifact or a sentient weapon in this way. The weapon ceases being your pact weapon if you die, if you perform the 1-hour ritual on a different weapon, or if you use a 1-hour ritual to break your bond to it. The weapon appears at your feet if it is in the extradimensional space when the bond breaks."
					}
					action "Action"
				}
			}
			option "Pact of the Tome" {
				description "Your Book of Shadows might be a fine, gilt-edged tome with spells of enchantment and illusion, gifted to you by the lordly Archfey. It could be a weighty tome bound in demon hide studded with iron, holding spells of conjuration and a wealth of forbidden lore about the sinister regions of the cosmos, a gift of the Fiend. Or it could be the tattered diary of a lunatic driven mad by contact with the Great Old One, holding scraps of spells that only your own burgeoning insanity allows you to understand and cast."
				mutator "feature" name="Pact of the Tome" {
					description {
						short "You gain a grimoire from which your patron grants boons of spellcasting."
						section "Your patron gives you a grimoire called a Book of Shadows. When you gain this feature, choose three cantrips from any class's spell list (the three needn't be from the same list). While the book is on your person, you can cast those cantrips at will. They don't count against your number of cantrips known. If they don't appear on the warlock spell list, they are nonetheless warlock spells for you."
						section "If you lose your Book of Shadows, you can perform a 1-hour ceremony to receive a replacement from your patron. This ceremony can be performed during a short or long rest, and it destroys the previous book. The book turns to ash when you die."
					}
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Warlock" {
						options 3 {
							filter {
								rank 0
							}
						}
					}
				}
			}
		}
	}
	level 4 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 8 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 11 {
		mutator "feature" name="Mystic Arcanum" {
			description {
				short "Cast one selected 6th level Warlock spell without expending a spell slot, once per long rest."
				section "At 11th level, your patron bestows upon you a magical secret called an arcanum. Choose one 6th-level spell from the warlock spell list as this arcanum.

				You can cast your arcanum spell once without expending a spell slot. You must finish a long rest before you can do so again.

				At higher levels, you gain more warlock spells of your choice that can be cast in this way: one 7th-level spell at 13th level, one 8th-level spell at 15th level, and one 9th-level spell at 17th level. You regain all uses of your Mystic Arcanum when you finish a long rest."
			}
			mutator "by_level" class="Warlock" {
				level 11 {
					mutator "spellcasting" "add_prepared" ability="Charisma" {
						options 1 {
							filter {
								rank 6
								tag "Warlock"
							}
						}
						limited_uses {
							max_uses 1
							reset_on "Long"
						}
					}
				}
				level 13 {
					mutator "spellcasting" "add_prepared" ability="Charisma" {
						options 1 {
							filter {
								rank 7
								tag "Warlock"
							}
						}
						limited_uses {
							max_uses 1
							reset_on "Long"
						}
					}
				}
				level 15 {
					mutator "spellcasting" "add_prepared" ability="Charisma" {
						options 1 {
							filter {
								rank 8
								tag "Warlock"
							}
						}
						limited_uses {
							max_uses 1
							reset_on "Long"
						}
					}
				}
				level 17 {
					mutator "spellcasting" "add_prepared" ability="Charisma" {
						options 1 {
							filter {
								rank 9
								tag "Warlock"
							}
						}
						limited_uses {
							max_uses 1
							reset_on "Long"
						}
					}
				}
			}
		}
	}
	level 12 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 16 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 19 {
		mutator "pick" 1 name="Ability Score Improvement" {
			option "Ability Score Increase" {
				mutator "ability_score"  {
					ability "Any" id="abilityA" {
						cannot-match "abilityB"
					}
					bonus 2
				}
				mutator "ability_score"  {
					ability "Any" id="abilityB" {
						cannot-match "abilityA"
					}
					bonus 1
				}
			}
			option "Feat" {
				mutator "add_bundle" category="Feat"
			}
		}
	}
	level 20 {
		mutator "feature" name="Eldritch Master" {
			description {
				short "Spend 1 minute to regain all expended Pact Magic spell slots."
				section "At 20th level, you can draw on your inner reserve of mystical power while entreating your patron to regain expended spell slots. You can spend 1 minute entreating your patron for aid to regain all your expended spell slots from your Pact Magic feature. Once you regain spell slots with this feature, you must finish a long rest before you can do so again."
			}
			action "Special" {
				// TODO-QoL: Replace `conditions_to_apply` with `mutators_to_apply`, and add a button here to reset all Warlock spell slots when clicked, expending the use of this feature.
				limited_uses {
					max_uses 1
					reset_on "Long"
				}
			}
		}
	}
}