class name="Wizard" {
	description "A scholarly magic-user capable of manipulating the structures of reality"
	hit-die "d6"
	mutator "add_proficiency" (SavingThrow)"Intelligence"
	mutator "add_proficiency" (SavingThrow)"Wisdom"
	mutator "add_proficiency" (Weapon)"Dagger"
	mutator "add_proficiency" (Weapon)"Dart"
	mutator "add_proficiency" (Weapon)"Sling"
	mutator "add_proficiency" (Weapon)"Quarterstaff"
	mutator "add_proficiency" (Weapon)"CrossbowLight"
}