background name="Sage" {
	description "You spent years learning the lore of the multiverse. You scoured manuscripts, studied scrolls, and listened to the greatest experts on the subjects that interest you. Your efforts have made you a master in your fields of study."
	selection name="Specialty" {
		option "Alchemist"
		option "Astronomer"
		option "Discredited academic"
		option "Librarian"
		option "Professor"
		option "Researcher"
		option "Wizard's apprentice"
		option "Scribe"
	}
	mutator "add_proficiency" (Skill)"Specific" "Arcana"
	mutator "add_proficiency" (Skill)"Specific" "History"
	mutator "add_proficiency" (Language)"Any"
	mutator "add_proficiency" (Language)"Any"
	/* TODO: add_starting_equipment
	mutator "add_starting_equipment" {
		item "Specific" "items/gear/ink.kdl"
		item "Specific" "items/gear/clothesCommon.kdl"
		item "Custom" name="Quill"
		item "Custom" name="Small Knife"
		item "Custom" name="Letter from Dead Colleague" {
			description "letter from a dead colleague posing a question you have not yet been able to answer"
		}
		currency 10 (Currency)"Gold"
	}
	*/
	feature name="Researcher" {
		description "When you attempt to learn or recall a piece of lore, if you do not know that information, you often know where and from whom you can obtain it. Usually, this information comes from a library, scriptorium, university, or a sage or other learned person or creature. Your DM might rule that the knowledge you seek is secreted away in an almost inaccessible place, or that it simply cannot be found. Unearthing the deepest secrets of the multiverse can require an adventure or even a whole campaign."
	}
	/*
	mutator "suggested_trait" "Personality" {
		option "I use polysyllabic words that convey the impression of great erudition."
		option "I've read every book in the world's greatest libraries — or I like to boast that I have."
		option "I'm used to helping out those who aren't as smart as I am, and I patiently explain anything and everything to others."
		option "There's nothing I like more than a good mystery."
		option "I'm willing to listen to every side of an argument before I make my own judgment."
		option "I . . . speak . . . slowly . . . when talking . . . to idiots, . . . which . . . almost . . . everyone . . . is . . . compared . . . to me."
		option "I am horribly, horribly awkward in social situations."
		option "I'm convinced that people are always trying to steal my secrets."
	}
	mutator "suggested_trait" "Ideal" {
		option "Knowledge. The path to power and self-improvement is through knowledge. (Neutral)"
		option "Beauty. What is beautiful points us beyond itself toward what is true. (Good)"
		option "Logic. Emotions must not cloud our logical thinking. (Lawful)"
		option "No Limits. Nothing should fetter the infinite possibility inherent in all existence. (Chaotic)"
		option "Power. Knowledge is the path to power and domination. (Evil)"
		option "Self-Improvement. The goal of a life of study is the betterment of oneself. (Any)"
	}
	mutator "suggested_trait" "Bond" {
		option "It is my duty to protect my students."
		option "I have an ancient text that holds terrible secrets that must not fall into the wrong hands."
		option "I work to preserve a library, university, scriptorium, or monastery."
		option "My life's work is a series of tomes related to a specific field of lore."
		option "I've been searching my whole life for the answer to a certain question."
		option "I sold my soul for knowledge. I hope to do great deeds and win it back."
	}
	mutator "suggested_trait" "Flaw" {
		option "I am easily distracted by the promise of information."
		option "Most people scream and run when they see a demon. I stop and take notes on its anatomy."
		option "Unlocking an ancient mystery is worth the price of a civilization."
		option "I overlook obvious solutions in favor of complicated ones."
		option "I speak without really thinking through my words, invariably insulting others."
		option "I can't keep a secret to save my life, or anyone else's."
	}
	*/
}