item name="Cloak of the Manta Ray" {
	description "While wearing this cloak with its hood up, you can breathe underwater, and you have a swimming speed of 60 feet. Pulling the hood up or down requires an action."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		// TODO: can breath underwater, swim speed 60ft
	}
}
