item name="Cloak of Protection" {
	description "You gain a +1 bonus to AC and saving throws while you wear this cloak."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		mutator "modify" "ArmorClass" 1
		// TODO: +1 instead of adv/disadv to saving throws
		mutator-todo "modify" (SavingThrow)"All" 1
	}
}
