item name="Alchemist's supplies" weight=8.0 {
	worth 50 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Brewer's supplies" weight=9.0 {
	worth 20 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Calligrapher's supplies" weight=5.0 {
	worth 10 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Carpenter's tools" weight=6.0 {
	worth 8 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Cartographer's tools" weight=6.0 {
	worth 15 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Cobbler's tools" weight=5.0 {
	worth 5 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Cook's utensils" weight=8.0 {
	worth 1 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Glassblower's tools" weight=5.0 {
	worth 30 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Jeweler's tools" weight=2.0 {
	worth 25 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Leatherworker's tools" weight=5.0 {
	worth 5 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Mason's tools" weight=8.0 {
	worth 10 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Painter's supplies" weight=5.0 {
	worth 10 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Potter's tools" weight=3.0 {
	worth 10 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Smith's tools" weight=8.0 {
	worth 20 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Tinker's tools" weight=10.0 {
	worth 50 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Weaver's tools" weight=5.0 {
	worth 1 (Currency)"Gold"
	tag "Artisan's Tools"
}
item name="Woodcarver's tools" weight=5.0 {
	worth 1 (Currency)"Gold"
	tag "Artisan's Tools"
}