item name="Disguise kit" weight=3.0 {
	description "This pouch of cosmetics, hair dye, and small props lets you create disguises that change your physical appearance. Proficiency with this kit lets you add your proficiency bonus to any ability checks you make to create a visual disguise."
	worth 25 (Currency)"Gold"
}