item name="Dice set" {
	worth 1 (Currency)"Silver"
	tag "Gaming Set"
}
item name="Dragonchess set" weight=0.5 {
	worth 1 (Currency)"Gold"
	tag "Gaming Set"
}
item name="Playing card set" {
	worth 5 (Currency)"Silver"
	tag "Gaming Set"
}
item name="Three-Dragon Ante set" {
	worth 1 (Currency)"Gold"
	tag "Gaming Set"
}