item name="Disguise kit" weight=3.0 {
	description "This pouch of cosmetics, hair dye, and small props lets you create disguises that change your physical appearance. Proficiency with this kit lets you add your proficiency bonus to any ability checks you make to create a visual disguise."
	worth 25 (Currency)"Gold"
}
item name="Forgery kit" weight=5.0 {
	description "This small box contains a variety of papers and parchments, pens and inks, seals and sealing wax, gold and silver leaf, and other supplies necessary to create convincing forgeries of physical documents. Proficiency with this kit lets you add your proficiency bonus to any ability checks you make to create a physical forgery of a document."
	worth 15 (Currency)"Gold"
}
item name="Herbalism kit" weight=3.0 {
	description "This kit contains a variety of instruments such as clippers, mortar and pestle, and pouches and vials used by herbalists to create remedies and potions. Proficiency with this kit lets you add your proficiency bonus to any ability checks you make to identify or apply herbs. Also, proficiency with this kit is required to create antitoxin and potions of healing."
	worth 5 (Currency)"Gold"
}
item name="Navigator's tools" weight=2.0 {
	description "This set of instruments is used for navigation at sea. Proficiency with navigator's tools lets you chart a ship's course and follow navigation charts. In addition, these tools allow you to add your proficiency bonus to any ability check you make to avoid getting lost at sea."
	worth 25 (Currency)"Gold"
}
item name="Poisoner's kit" weight=2.0 {
	description "A poisoner's kit includes the vials, chemicals, and other equipment necessary for the creation of poisons. Proficiency with this kit lets you add your proficiency bonus to any ability checks you make to craft or use poisons."
	worth 50 (Currency)"Gold"
}
item name="Thieves' tools" weight=1.0 {
	description "This set of tools includes a small file, a set of lock picks, a small mirror mounted on a metal handle, a set of narrow-bladed scissors, and a pair of pliers. Proficiency with these tools lets you add your proficiency bonus to any ability checks you make to disarm traps or open locks."
	worth 25 (Currency)"Gold"
}