item name="Poisoner's kit" weight=2.0 {
	description "A poisoner's kit includes the vials, chemicals, and other equipment necessary for the creation of poisons. Proficiency with this kit lets you add your proficiency bonus to any ability checks you make to craft or use poisons."
	worth 50 (Currency)"Gold"
}