/*
Backpack*	1 cubic foot/30 pounds of gear
* You can also strap items, such as a bedroll or a coil of rope, to the outside of a backpack.

Barrel	40 gallons liquid, 4 cubic feet solid
Basket	2 cubic feet/40 pounds of gear
Bottle	1 1/2 pints liquid
Bucket	3 gallons liquid, 1/2 cubic foot solid
Chest	12 cubic feet/300 pounds gear
Flask or tankard	1 pint liquid
Jug or pitcher	1 gallon liquid
Pot, iron	1 gallon liquid
Pouch	1/5 cubic foot/6 pounds of gear
Sack	1 cubic foot/30 pounds of gear
Vial	4 ounces liquid
Waterskin	4 pints liquid
*/
item name="Backpack" weight=5 {
	worth 2 (Currency)Gold
	kind Simple
}
item name="Pouch" weight=1 {
	description "A cloth or leather pouch can hold up to 20 sling bullets or 50 blowgun needles, among other things. A compartmentalized pouch for holding spell components is called a component pouch (described earlier in this section)."
	worth 5 (Currency)Silver
	kind Simple
}
item name="Quiver" weight=1 {
	description "A quiver can hold up to 20 arrows."
	worth 1 (Currency)Gold
	kind Simple
}
item name="Spellbook" weight=3 {
	description "Essential for wizards, a spellbook is a leather-bound tome with 100 blank vellum pages suitable for recording spells."
	worth 50 (Currency)Gold
	kind Simple
}