item name="Block and tackle" weight=5.0 {
	description "A set of pulleys with a cable threaded through them and a hook to attach to objects, a block and tackle allows you to hoist up to four times the weight you can normally lift."
	worth 1 (Currency)"Gold"
	kind "Simple"
}
