item name="Crossbow Bolt Case" weight=1.0 {
	description "This wooden case can hold up to twenty crossbow bolts."
	worth 1 (Currency)"Gold"
	kind "Simple"
	items {
		capacity count=20
		restriction {
			tag "Bolt"
		}
	}
}
