item name="Fishing tackle" weight=4.0 {
	description "This kit includes a wooden rod, silken line, corkwood bobbers, steel hooks, lead sinkers, velvet lures, and narrow netting."
	worth 1 (Currency)"Gold"
	kind "Simple"
}
