item name="Lamp" weight=1.0 {
	description "A lamp casts bright light in a 15-foot radius and dim light for an additional 30 feet. Once lit, it burns for 6 hours on a flask (1 pint) of oil."
	worth 5 (Currency)"Silver"
	kind "Simple"
}
