item name="Lock" weight=1.0 {
	description "A key is provided with the lock. Without the key, a creature proficient with thieves' tools can pick this lock with a successful DC 15 Dexterity check. Your DM may decide that better locks are available for higher prices."
	worth 10 (Currency)"Gold"
	kind "Simple"
}
