item name="Portable Ram" weight=35.0 {
	description "You can use a portable ram to break down doors. When doing so, you gain a +4 bonus on the Strength check. One other character can help you use the ram, giving you advantage on this check."
	worth 4 (Currency)"Gold"
	kind "Simple"
}
