item name="Pouch" weight=1.0 {
	description "A cloth or leather pouch can hold up to 20 sling bullets or 50 blowgun needles, among other things. A compartmentalized pouch for holding spell components is called a component pouch."
	worth 5 (Currency)"Silver"
	kind "Simple"
	items {
		capacity weight=6.0 volume=0.2
	}
}
