item name="Rope (Silk)" weight=5.0 {
	description "Rope, whether made of hemp or silk, has 2 hit points and can be burst with a DC 17 Strength check."
	worth 10 (Currency)"Gold"
	kind "Simple"
	notes "50 ft."
}
