//!careful
bundle category="Metamagic" name="Careful Spell" {
	feature name="Careful Spell" parent="Monk/level03/Metamagic" {
		description {
			short "1 Sorcery Point - Spell with Saving Throw - {amount} of affected creatures automatically succeed their saving throw"
			section "When you cast a spell that forces other creatures to make a saving throw, you can protect some of those creatures from the spell's full force. To do so, you spend 1 sorcery point and choose a number of those creatures up to your Charisma modifier ({amount}) (minimum of one creature). A chosen creature automatically succeeds on its saving throw against the spell."
			format-arg "amount" "int" (Evaluator)"math" "Add" min=1 {
				value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
			}
		}
		action "Special" {
			limited_uses {
				cost 1
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!distant
bundle category="Metamagic" name="Distant Spell" {
	feature name="Distant Spell" parent="Monk/level03/Metamagic" {
		description {
			short "1 Sorcery Point - Touch spell has 30 ft range or double the range of any spell with a range of 5+ feet"
			section "When you cast a spell that has a range of 5 feet or greater, you can spend 1 sorcery point to double the range of the spell."
			section "When you cast a spell that has a range of touch, you can spend 1 sorcery point to make the range of the spell 30 feet."
		}
		action "Special" {
			limited_uses {
				cost 1
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!empowered
bundle category="Metamagic" name="Empowered Spell" {
	feature name="Empowered Spell" parent="Monk/level03/Metamagic" {
		description {
			short "1 Sorcery Point - Reroll up to {amount} damage dice (must use new rolls)"
			section "When you roll damage for a spell, you can spend 1 sorcery point to reroll a number of the damage dice up to your Charisma modifier (minimum of one). You must use the new rolls."
			section "You can use Empowered Spell even if you have already used a different Metamagic option during the casting of the spell."
			format-arg "amount" "int" (Evaluator)"math" "Add" min=1 {
				value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
			}
		}
		action "Special" {
			limited_uses {
				cost 1
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!extended
bundle category="Metamagic" name="Extended Spell" {
	feature name="Extended Spell" parent="Monk/level03/Metamagic" {
		description {
			short "1 Sorcery Point - Double duration (up to 24 hours)"
			section "When you cast a spell that has a duration of 1 minute or longer, you can spend 1 sorcery point to double its duration, to a maximum duration of 24 hours."
		}
		action "Special" {
			limited_uses {
				cost 1
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!heightened
bundle category="Metamagic" name="Heightened Spell" {
	feature name="Heightened Spell" parent="Monk/level03/Metamagic" {
		description {
			short "3 Sorcery Points - Give one target has disadvantage on the first saving throw"
			section "When you cast a spell that forces a creature to make a saving throw to resist its effects, you can spend 3 sorcery points to give one target of the spell disadvantage on its first saving throw made against the spell."
		}
		action "Special" {
			limited_uses {
				cost 3
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!quickened
bundle category="Metamagic" name="Quickened Spell" {
	feature name="Quickened Spell" parent="Monk/level03/Metamagic" {
		description {
			short "2 Sorcery Points - Casting time changes from 1 action to 1 bonus action"
			section "When you cast a spell that has a casting time of 1 action, you can spend 2 sorcery points to change the casting time to 1 bonus action for this casting."
		}
		action "Special" {
			limited_uses {
				cost 2
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!subtle
bundle category="Metamagic" name="Subtle Spell" {
	feature name="Subtle Spell" parent="Monk/level03/Metamagic" {
		description {
			short "1 Sorcery Point - Omit verbal and somatic components"
			section "When you cast a spell, you can spend 1 sorcery point to cast it without any somatic or verbal components."
		}
		action "Special" {
			limited_uses {
				cost 1
				resource "Sorcerer/level02/Font of Magic"
			}
		}
	}
}
//!twinned
bundle category="Metamagic" name="Twinned Spell" {
	feature name="Twinned Spell" parent="Monk/level03/Metamagic" {
		description {
			short "1 Sorcery Point per Spell Level (1 point for cantrips) - Spells which target 1 creature and range other than self - Target a second creature with the same casting"
			section "When you cast a spell that targets only one creature and doesn't have a range of self, you can spend a number of sorcery points equal to the spell's level to target a second creature in range with the same spell (1 sorcery point if the spell is a cantrip)."
			section "To be eligible, a spell must be incapable of targeting more than one creature at the spell's current level. For example, magic missile and scorching ray aren't eligible, but ray of frost and chromatic orb are."
		}
	}
}