bundle category="Metamagic" name="Subtle Spell" {
	mutator "feature" name="Subtle Spell" parent="Sorcerer/level03/Metamagic" {
		description {
			short "1 Sorcery Point - Omit verbal and somatic components"
			section "When you cast a spell, you can spend 1 sorcery point to cast it without any somatic or verbal components."
		}
		action "Special" {
			limited_uses {
				cost 1
				resource "/Sorcerer/level02/Font of Magic"
			}
		}
	}
}
