subclass class="Warlock" name="The Fiend" {
	description "You have made a pact with a fiend from the lower planes of existence, a being whose aims are evil, even if you strive against those aims. Such beings desire the corruption or destruction of all things, ultimately including you. Fiends powerful enough to forge a pact include demon lords such as Demogorgon, Orcus, Fraz'Urb-luu, and Baphomet; archdevils such as Asmodeus, Dispater, Mephistopheles, and Belial; pit fiends and balors that are especially mighty; and ultroloths and other lords of the yugoloths."
	level 1 {
		feature name="Expanded Spell List" {
			description "The Fiend lets you choose from an expanded list of spells when you learn a warlock spell. The following spells are added to the warlock spell list for you." {
				section table=true {
					headers "Spell Level" "Spells"
					row "1st" "burning hands, command"
					row "2nd" "blindness/deafness, scorching ray"
					row "3rd" "fireball, stinking cloud"
					row "4th" "fire shield, wall of fire"
					row "5th" "flame strike, hallow"
				}
			}
			mutator "spellcasting" "add_source" class="Warlock" {
				spell "spells/burningHands.kdl"
				spell "spells/command.kdl"
				spell "spells/blindnessDeafness.kdl"
				spell "spells/scorchingRay.kdl"
				spell "spells/fireball.kdl"
				spell "spells/stinkingCloud.kdl"
				spell "spells/fireShield.kdl"
				spell "spells/wallOfFire.kdl"
				spell "spells/flameStrike.kdl"
				spell "spells/hallow.kdl"
			}
		}
		feature name="Dark One's Blessing" {
			description {
				short "When you reduce a hostile creature to 0 hit points, you gain {hit-points} temporary hit points."
				section "Starting at 1st level, when you reduce a hostile creature to 0 hit points, you gain temporary hit points equal to your Charisma modifier + your warlock level (minimum of 1)."
				format-arg "hit-points" "int" (Evaluator)"math" "Add" min=1 {
					value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
					value (Evaluator)"get_level" class="Warlock"
				}
			}
		}
	}
	level 6 {
		feature name="Dark One's Own Luck" {
			description {
				short "When you make an ability check or a saving throw, add a d10 to your roll. You can do so after seeing the initial roll but before any of the roll's effects occur."
				section "Starting at 6th level, you can call on your patron to alter fate in your favor. When you make an ability check or a saving throw, you can use this feature to add a d10 to your roll. You can do so after seeing the initial roll but before any of the roll's effects occur.

				Once you use this feature, you can't use it again until you finish a short or long rest."
			}
			action "Special" {
				limited_uses {
					max_uses 1
					reset_on "Short"
				}
			}
		}
	}
	level 10 {
		feature name="Fiendish Resilience" {
			description "Starting at 10th level, you can choose one damage type when you finish a short or long rest. You gain resistance to that damage type until you choose a different one with this feature. Damage from magical weapons or silver weapons ignores this resistance."
			action "Special" {
				condition "Custom" name="Fiendish Resilience" {
					description "You are resistant to a damage type of your choosing, unless the source is a magical or silver weapon."
					// TODO: selector for add_defense damage type
					mutator-todo "add_defense" "Resistance" (DamageType)"Any"
				}
			}
		}
	}
	level 14 {
		feature name="Hurl Through Hell" {
			description {
				short "When you hit a creature with an attack, the target is teleported to the lower planes. At the end of your next turn, they return to the space it previously occuppied (or the nearest unoccupied space). If it is not a fiend, it takes 10d10 psychic damage when it returns."
				section "Starting at 14th level, when you hit a creature with an attack, you can use this feature to instantly transport the target through the lower planes. The creature disappears and hurtles through a nightmare landscape.

				At the end of your next turn, the target returns to the space it previously occupied, or the nearest unoccupied space. If the target is not a fiend, it takes 10d10 psychic damage as it reels from its horrific experience.

				Once you use this feature, you can't use it again until you finish a long rest."
			}
			action "Special" {
				limited_uses {
					max_uses 1
					reset_on "Short"
				}
			}
		}
	}
}