condition name="Poisoned" {
	description "A poisoned creature has disadvantage on attack rolls and ability checks."
	mutator "modify" (Ability)"All" modifier="Disadvantage"
	mutator "modify" (Attack)"Roll" {
		modify "Disadvantage"
	}
}
