item name="Burglar's Pack" weight=5.0 {
	worth 16 (Currency)"Gold"
	kind "Simple"
	items {
		// 1 cubic foot
		capacity weight=30.0 volume=1.0
		item_id "items/gear/ballBearings.kdl" count=1000
		item_id "items/gear/bell.kdl"
		item_id "items/gear/candle.kdl" count=5
		item_id "items/gear/crowbar.kdl"
		item_id "items/gear/hammer.kdl"
		item_id "items/gear/piton.kdl" count=10
		item_id "items/gear/lanternHooded.kdl"
		item_id "items/gear/oilFlask.kdl" count=2
		item_id "items/gear/rations.kdl" count=5
		item_id "items/gear/tinderbox.kdl"
		item_id "items/gear/waterskin.kdl"
		item_id "items/gear/ropeHempen.kdl"
		item name="String (ft.)" {
			kind "Simple" count=10
		}
	}
}