item "items/gear/backpack.kdl" name="Burglar's Pack" {
	worth 16 (Currency)"Gold"
	items {
		templates {
			item "Specific" "items/gear/ballBearings.kdl" count=1000
			item "Custom" name="String (ft.)" {
				kind "Simple" count=10
			}
			item "Specific" "items/gear/bell.kdl"
			item "Specific" "items/gear/candle.kdl" count=5
			item "Specific" "items/gear/crowbar.kdl"
			item "Specific" "items/gear/hammer.kdl"
			item "Specific" "items/gear/piton.kdl" count=10
			item "Specific" "items/gear/lanternHooded.kdl"
			item "Specific" "items/gear/oilFlask.kdl" count=2
			item "Specific" "items/gear/ration.kdl" count=5
			item "Specific" "items/gear/tinderbox.kdl"
			item "Specific" "items/gear/waterskin.kdl"
			item "Specific" "items/gear/ropeHempen.kdl" count=50
		}
	}
}
