item name="Entertainer's Pack" weight=5.0 {
	worth 40 (Currency)"Gold"
	kind "Simple"
	items {
		// 1 cubic foot
		capacity weight=30.0 volume=1.0
		item_id "items/gear/bedroll.kdl"
		item_id "items/gear/clothesCostume.kdl" count=2
		item_id "items/gear/candle.kdl" count=5
		item_id "items/gear/rations.kdl" count=5
		item_id "items/gear/waterskin.kdl"
		item_id "items/tools/disguise.kdl"
	}
}