item name="Explorer's Pack" weight=5.0 {
	worth 40 (Currency)"Gold"
	kind "Simple"
	items {
		// 1 cubic foot
		capacity weight=30.0 volume=1.0
		item_id "items/gear/bedroll.kdl"
		item_id "items/gear/messKit.kdl"
		item_id "items/gear/tinderbox.kdl"
		item_id "items/gear/torch.kdl" count=10
		item_id "items/gear/ration.kdl" count=10
		item_id "items/gear/waterskin.kdl"
		item_id "items/gear/ropeHempen.kdl" count=50
	}
}