item name="Scholar's Pack" weight=5.0 {
	worth 40 (Currency)"Gold"
	kind "Simple"
	items {
		// 1 cubic foot
		capacity weight=30.0 volume=1.0
		item_id "items/gear/book.kdl" name="Book of Lore"
		item_id "items/gear/ink.kdl"
		item_id "items/gear/inkPen.kdl"
		item_id "items/gear/parchment.kdl" count=10
		item name="Little Bag of Sand"
		item name="Small Knife"
	}
}