subclass class="Paladin" name="Oath of Devotion" {
	description "The Oath of Devotion binds a paladin to the loftiest ideals of justice, virtue, and order. Sometimes called cavaliers, white knights, or holy warriors, these paladins meet the ideal of the knight in shining armor, acting with honor in pursuit of justice and the greater good. They hold themselves to the highest standards of conduct, and some, for better or worse, hold the rest of the world to the same standards. Many who swear this oath are devoted to gods of law and good and use their gods' tenets as the measure of their devotion. They hold angels — the perfect servants of good — as their ideals, and incorporate images of angelic wings into their helmets or coats of arms.

	Tenets of Devotion
	Though the exact words and strictures of the Oath of Devotion vary, paladins of this oath share these tenets.
	Honesty. Don't lie or cheat. Let your word be your promise.
	Courage. Never fear to act, though caution is wise.
	Compassion. Aid others, protect the weak, and punish those who threaten them. Show mercy to your foes, but temper it with wisdom.
	Honor. Treat others with fairness, and let your honorable deeds be an example to them. Do as much good as possible while causing the least amount of harm.
	Duty. Be responsible for your actions and their consequences, protect those entrusted to your care, and obey those who have just authority over you."
	level 3 {
		mutator "feature" name="Oath Spells" {
			description "Each oath has a list of associated spells. You gain access to these spells at the levels specified in the oath description. Once you gain access to an oath spell, you always have it prepared. Oath spells don't count against the number of spells you can prepare each day.

			If you gain an oath spell that doesn't appear on the paladin spell list, the spell is nonetheless a paladin spell for you." {
				section table=true {
					headers "Paladin Level" "Spells"
					row "3rd" "protection from evil and good, sanctuary"
					row "5th" "lesser restoration, zone of truth"
					row "9th" "beacon of hope, dispel magic"
					row "13th" "freedom of movement, guardian of faith"
					row "17th" "commune, flame strike"
				}
			}
			mutator "by_level" class="Paladin" {
				level 3 {
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Paladin" {
						spell "spells/protectionFromEvilAndGood.kdl"
						spell "spells/sanctuary.kdl"
					}
				}
				level 5 {
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Paladin" {
						spell "spells/lesserRestoration.kdl"
						spell "spells/zoneOfTruth.kdl"
					}
				}
				level 9 {
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Paladin" {
						spell "spells/beaconOfHope.kdl"
						spell "spells/dispelMagic.kdl"
					}
				}
				level 13 {
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Paladin" {
						spell "spells/freedomOfMovement.kdl"
						spell "spells/guardianOfFaith.kdl"
					}
				}
				level 17 {
					mutator "spellcasting" "add_prepared" ability="Charisma" classified_as="Paladin" {
						spell "spells/commune.kdl"
						spell "spells/flameStrike.kdl"
					}
				}
			}
		}
		mutator "feature" name="Sacred Weapon" parent="Paladin/level03/Channel Divinity" {
			description {
				short "For 1 minute, a weapon you are holding of your choosing gets the following benefits:
				- Attacks get a +{bonus} to attack rolls and the damage counts as magical
				- Emits bright light in a 20-foot radius and dim light 20 feet beyond that"
				section "As an action, you can imbue one weapon that you are holding with positive energy, using your Channel Divinity. For 1 minute, you add your Charisma modifier to attack rolls made with that weapon (with a minimum bonus of +1). The weapon also emits bright light in a 20-foot radius and dim light 20 feet beyond that. If the weapon is not already magical, it becomes magical for the duration.

				You can end this effect on your turn as part of any other action. If you are no longer holding or carrying this weapon, or if you fall unconscious, this effect ends."
				format-arg "bonus" "int" (Evaluator)"math" "Add" min=1 {
					value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
				}
			}
			action "Action" {
				limited_uses {
					resource "/Paladin/level03/Channel Divinity"
				}
			}
		}
		mutator "feature" name="Turn the Unholy" parent="Paladin/level03/Channel Divinity" {
			description {
				short "All fiends and undead within 30 feet of you make a Wisdom saving throw (DC {DC}). On a failed save, a creature:
				- must spend its turns trying to move as far away from you as possible
				- cannot willingly end its turn within 30 feet of you
				- cannot take reactions
				- can only use the Dash action or try to escape effects that prevent it from moving
				- can use the Dodge action if there is nowhere to move
				This lasts for 1 minute or until the creature takes damage."
				section "As an action, you present your holy symbol and speak a prayer censuring fiends and undead, using your Channel Divinity. Each fiend or undead that can see or hear you within 30 feet of you must make a Wisdom saving throw. If the creature fails its saving throw, it is turned for 1 minute or until it takes damage.

				A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. It also can't take reactions. For its action, it can use only the Dash action or try to escape from an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action."
				format-arg "DC" "int" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
					value (Evaluator)"get_proficiency_bonus"
				}
			}
			action "Action" {
				limited_uses {
					resource "/Paladin/level03/Channel Divinity"
				}
			}
		}
	}
	level 7 {
		mutator "feature" name="Aura of Devotion" {
			description {
				short "Friendly creatures within {range} feet of you can't be charmed while you are conscious."
				"Starting at 7th level, you and friendly creatures within 10 feet of you can't be charmed while you are conscious.

				At 18th level, the range of this aura increases to 30 feet."
				format-arg "range" "int" (Evaluator)"get_level" class="Paladin" {
					level 6 10
					level 18 30
				}
			}
		}
	}
	level 15 {
		mutator "feature" name="Purity of Spirit" {
			description "Beginning at 15th level, you are always under the effects of a protection from evil and good spell."
			mutator "grant_condition" "Specific" "spells/protectionFromEvilAndGood_condition.kdl"
		}
	}
	level 20 {
		mutator "feature" name="Holy Nimbus" {
			description "At 20th level, as an action, you can emanate an aura of sunlight. For 1 minute, bright light shines from you in a 30-foot radius, and dim light shines 30 feet beyond that.

			Whenever an enemy creature starts its turn in the bright light, the creature takes 10 radiant damage.

			In addition, for the duration, you have advantage on saving throws against spells cast by fiends or undead.

			Once you use this feature, you can't use it again until you finish a long rest."
			action "Action" {
				limited_uses {
					max_uses 1
					reset_on "Long"
				}
				condition "Custom" name="Holy Nimbus" {
					description "For 1 minute after using the Holy Nimbus action:
					- bright light shines from you in a 30-foot radius, and dim light shines for 30 feet beyond that
					- at the start of their turn, any enemy creatures who are in the bright light take 10 radius damage
					- you have advantage on saving throws against spells cast by fiends or undead"
					mutator "modify" (SavingThrow)"All" modifier="Advantage" context="spells cast by fiends or undead"
				}
			}
		}
	}
}
