bundle category="Eldritch Invocation" name="Agonizing Blast" display_as_feature=true {
	requirement-todo (Evaluator)"has_spell" "spells/eldritchBlast.kdl"
	description "When you cast eldritch blast, add your Charisma modifier to the damage it deals on a hit."
	mutator "modify" (Spell)"Damage" {
		damage {
			amount (Evaluator)"get_ability_modifier" (Ability)"Charisma"
		}
		query {
			spell "github://flux-tabletop:dnd5e-basic-rules@dnd5e/spells/eldritchBlast.kdl"
		}
	}
}