bundle category="Eldritch Invocation" name="Ascendant Step" display_as_feature=true {
	requirement (Evaluator)"level" class="Warlock" min=9
	description "You can cast levitate on yourself at will, without expending a spell slot or material components."
	mutator "spellcasting2" "innate" {
		method "AtWill"
		spells caster="Warlock" {
			spell "spells/levitate.kdl"
		}
	}
}