bundle category="Eldritch Invocation" name="Beguiling Influence" display_as_feature=true {
	description "You gain proficiency in the Deception and Persuasion skills."
	mutator "add_proficiency" (Skill)"Specific" "Deception"
	mutator "add_proficiency" (Skill)"Specific" "Persuasion"
}