bundle category="Eldritch Invocation" name="Eldritch Spear" display_as_feature=true {
	requirement-todo (Evaluator)"selected" {
		spell "spells/eldritchBlast.kdl"
	}
	description "When you cast eldritch blast, its range is 300 feet."
	mutator-todo "bonus" (Spell)"Range" 300 {
		spell "spells/eldritchBlast.kdl"
	}
}