bundle category="Eldritch Invocation" name="Eldritch Spear" display_as_feature=true {
	requirement (Evaluator)"has_spell" "Warlock" "spells/eldritchBlast.kdl"
	description "When you cast eldritch blast, its range is 300 feet."
	mutator "modify" (Spell)"Range" {
		distance 300
		query {
			spell "spells/eldritchBlast.kdl"
		}
	}
}