bundle category="Eldritch Invocation" name="Fiendish Vigor" display_as_feature=true {
	description "You can cast false life on yourself at will as a 1st-level spell, without expending a spell slot or material components."
	mutator "spellcasting" "innate" {
		method "AtWill"
		spells caster="Warlock" {
			spell "spells/falseLife.kdl"
		}
	}
}