bundle category="Eldritch Invocation" name="Mask of Many Faces" display_as_feature=true {
	description "You can cast disguise self at will, without expending a spell slot."
	mutator "spellcasting2" "innate" {
		method "AtWill"
		spells caster="Warlock" {
			spell "spells/disguiseSelf.kdl"
		}
	}
}