bundle category="Eldritch Invocation" name="Master of Myriad Forms" display_as_feature=true {
	requirement (Evaluator)"level" class="Warlock" min=15
	description "You can cast alter self at will, without expending a spell slot."
	mutator "spellcasting2" "innate" {
		method "AtWill"
		spells caster="Warlock" {
			spell "spells/alterSelf.kdl"
		}
	}
}