bundle category="Eldritch Invocation" name="Minions of Chaos" display_as_feature=true {
	requirement (Evaluator)"level" class="Warlock" min=9
	description "You can cast conjure elemental once using a warlock spell slot. You can't do so again until you finish a long rest."
	mutator "spellcasting2" "innate" {
		method "Slot" {
			limited_uses {
				max_uses 1
				reset_on (Rest)"Long"
			}
		}
		spells caster="Warlock" {
			spell "spells/conjureElemental.kdl"
		}
	}
}