bundle category="Eldritch Invocation" name="Mire the Mind" {
	requirement-todo (Evaluator)"level" class="Warlock" min=5
	description "You can cast slow once using a warlock spell slot. You can't do so again until you finish a long rest."
	mutator-todo "spellcasting" "add_prepared" ability="Charisma" {
		// TODO: cast using a slot, but only a fixed number of times
		spell "spells/slow.kdl" use_slot=true {
			limited_uses {
				max_uses 1
				reset_on (Rest)"Long"
			}
		}
	}
}
