bundle category="Eldritch Invocation" name="Misty Visions" display_as_feature=true {
	description "You can cast silent image at will, without expending a spell slot or material components."
	mutator "spellcasting2" "innate" {
		method "AtWill"
		spells caster="Warlock" {
			spell "spells/silentImage.kdl"
		}
	}
}