bundle category="Eldritch Invocation" name="Misty Visions" {
	description "You can cast silent image at will, without expending a spell slot or material components."
	mutator "spellcasting" "add_prepared" ability="Charisma" {
		spell "spells/silentImage.kdl"
	}
}
