bundle category="Eldritch Invocation" name="Thief of Five Fates" {
	description "You can cast bane once using a warlock spell slot. You can't do so again until you finish a long rest."
	mutator-todo "spellcasting" "add_prepared" ability="Charisma" {
		// TODO: cast using a slot, but only a fixed number of times
		spell "spells/bane.kdl" use_slot=true {
			limited_use {
				max_uses 1
				reset_on (Rest)"Long"
			}
		}
	}
}
