bundle category="Eldritch Invocation" name="Visions of Distant Realms" display_as_feature=true {
	requirement (Evaluator)"level" class="Warlock" min=15
	description "You can cast arcane eye at will, without expending a spell slot."
	mutator "spellcasting" "innate" {
		method "AtWill"
		spells caster="Warlock" {
			spell "spells/arcaneEye.kdl"
		}
	}
}