bundle category="Eldritch Invocation" name="Voice of the Chain Master" display_as_feature=true {
	requirement-todo (Evaluator)"selected" {
		option "Warlock/level03/Pact Boon" "Pact of the Chain"
	}
	description "You can communicate telepathically with your familiar and perceive through your familiar's senses as long as you are on the same plane of existence. Additionally, while perceiving through your familiar's senses, you can also speak through your familiar in your own voice, even if your familiar is normally incapable of speech."
}