bundle category="Eldritch Invocation" name="Witch Sight" {
	requirement-todo (Evaluator)"level" class="Warlock" min=15
	description "You can see the true form of any shapechanger or creature concealed by illusion or transmutation magic while the creature is within 30 feet of you and within line of sight."
}