item name="Amulet of Health" {
	description "Your Constitution score is 19 while you wear this amulet. It has no effect on you if your Constitution is 19 or higher without it."
	rarity "Rare" // TODO: Item rarity
	tag "Wonderous"
	kind "Equipment" requires_attunement=true {
		// TODO: Dont apply mutators if criteria is not met or item is not attuned
		// TODO: Ability score cannot be 19 or larger
		/*
		criteria (Evaluator)"check_ability_score" {
			max 19
		}
		*/
		mutator "ability_score" {
			ability "Specific" "Constitution"
			fixed 19 // TODO: fixed ability score
		}
	}
}