item name="Belt of Fire Giant Strength" {
	description "While wearing this belt, your Strength score is 25 if your Strength without the belt is less than 25.
	Six varieties of this belt exist, corresponding with and having rarity according to the six kinds of true giants. The belt of stone giant strength and the belt of frost giant strength look different, but they have the same effect."
	rarity "VeryRare"
	tag "Wonderous"
	kind "Equipment" requires_attunement=true {
		/*
		criteria (Evaluator)"check_ability_score" {
			max 25
		}
		*/
		mutator "ability_score" {
			ability "Specific" "Strength"
			fixed 25 // TODO: fixed ability score
		}
	}
}
