generator "block" "beltOfGiantStrength" {
	base {
		item name="Belt of {TYPE} Giant Strength" {
			description "While wearing this belt, your Strength score is {SCORE} if your Strength without the belt is less than {SCORE}." {
				section "Six varieties of this belt exist, corresponding with and having rarity according to the six kinds of true giants. The belt of stone giant strength and the belt of frost giant strength look different, but they have the same effect."
			}
			rarity "{RARITY}"
			tag "Wonderous"
			kind "Equipment" {
				attunement required=true
				mutator "ability_score" {
					ability "Specific" "Strength"
					// TODO: minimum ability score
					// TODO: generator replacement for both {VAR} and "VAR" (the former replaces within strings, the latter replaces the string itself with the value)
					minimum "SCORE"
				}
			}
		}
	}
	variant "hill" {
		entry "TYPE" "Hill"
		entry "RARITY" "Rare"
		entry "SCORE" 21
	}
	variant "stone" {
		entry "TYPE" "Stone"
		entry "RARITY" "VeryRare"
		entry "SCORE" 23
	}
	variant "frost" {
		entry "TYPE" "Frost"
		entry "RARITY" "VeryRare"
		entry "SCORE" 23
	}
	variant "fire" {
		entry "TYPE" "Fire"
		entry "RARITY" "VeryRare"
		entry "SCORE" 25
	}
	variant "cloud" {
		entry "TYPE" "Cloud"
		entry "RARITY" "Legendary"
		entry "SCORE" 27
	}
	variant "storm" {
		entry "TYPE" "Storm"
		entry "RARITY" "Legendary"
		entry "SCORE" 29
	}
}
