item name="Bracers of Defense" {
	description "While wearing these bracers, you gain a +2 bonus to AC if you are wearing no armor and using no shield."
	rarity "Rare"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "apply_if" {
				criteria (Evaluator)"has_armor_equipped" inverted=true
				mutator "modify" "ArmorClass" 2
			}
		}
	}
}
