item name="Bracers of Archery" {
	description "While wearing these bracers, you have proficiency with the longbow and shortbow, and you gain a +2 bonus to damage rolls on ranged attacks made with such weapons."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		mutator "add_proficiency" (Weapon)"Shortbow"
		mutator "add_proficiency" (Weapon)"Longbow"
		mutator "modify" (Attack)"Damage" {
			damage 2
			query {
				class "Shortbow"
				class "Longbow"
			}
		}
	}
}
