item name="Brooch of Shielding" {
	description "While wearing this brooch, you have resistance to force damage, and you have immunity to damage from the magic missile spell."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "add_defense" "Resistance" (DamageType)"Specific" "Force"
			mutator "add_defense" "Immunity" context="magic missle damage"
		}
	}
}
