item name="Candle of Invocation" {
	description "This slender taper is dedicated to a deity and shares that deity's alignment. The candle's alignment can be detected with the detect evil and good spell. The DM chooses the god and associated alignment or determines the alignment randomly." {
		section table=true {
			headers "d20" "Alignment"
			row "1-2" "Chaotic evil"
			row "3-4" "Chaotic neutral"
			row "5-7" "Chaotic good"
			row "8-9" "Neutral evil"
			row "10-11" "Neutral"
			row "12-13" "Neutral good"
			row "14-15" "Lawful evil"
			row "16-17" "Lawful neutral"
			row "18-20" "Lawful good"
		}
		section "The candle's magic is activated when the candle is lit, which requires an action. After burning for 4 hours, the candle is destroyed. You can snuff it out early for use at a later time. Deduct the time it burned in increments of 1 minute from the candle's total burn time.

		While lit, the candle sheds dim light in a 30-foot radius. Any creature within that light whose alignment matches that of the candle makes attack rolls, saving throws, and ability checks with advantage. In addition, a cleric or druid in the light whose alignment matches the candle's can cast 1st-level spells they have prepared without expending spell slots, though the spell's effect is as if cast with a 1st-level slot.

		Alternatively, when you light the candle for the first time, you can cast the gate spell with it. Doing so destroys the candle."
	}
	rarity "VeryRare"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		// TODO: action, custom condition, maybe gate spell?
	}
}
