item name="Circlet of Blasting" {
	description "While wearing this circlet, you can use an action to cast the scorching ray spell with it. When you make the spell's attacks, you do so with an attack bonus of +5. The circlet can't be used this way again until the next dawn."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		mutator "spellcasting" "add_prepared" ability="Wisdom" {
			spell "spells/scorchingRay.kdl" {
				attack_bonus 5
			}
			limited_uses {
				max_uses 1
				reset_on "Long"
			}
		}
	}
}
