item name="Cloak of Protection" {
	description "You gain a +1 bonus to AC and saving throws while you wear this cloak."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" requires-attunement=true {
		// TODO: +1 AC and saving throws
	}
}
