item name="Crystal Ball" {
	description "The typical crystal ball is about 6 inches in diameter. While touching it, you can cast the scrying spell (save DC 17) with it."
	rarity "VeryRare"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "spellcasting" "innate" {
				method "AtWill"
				spells save_dc=17 {
					spell "spells/scrying.kdl"
				}
			}
		}
	}
}
