item name="Dagger of Venom" weight=1.0 {
	description "You gain a +1 bonus to attack and damage rolls made with this magic weapon." {
		section "You can use an action to cause thick, black poison to coat the blade. The poison remains for 1 minute or until an attack using this weapon hits a creature. That creature must succeed on a DC 15 Constitution saving throw or take 2d10 poison damage and become poisoned for 1 minute. The dagger can't be used this way again until the next dawn."
	}
	rarity "Rare"
	kind "Equipment" {
		weapon "Simple" class="Dagger" {
			attack-roll bonus=1
			damage "Piercing" roll="1d4" base=1
			property "Finesse"
			property "Light"
			property "Thrown" 20 60
		}
		charges 1 {
			reset_on "Long"
		}
	}
}
