item name="Elemental Gem" {
	description "This gem contains a mote of elemental energy. When you use an action to break the gem, an elemental is summoned as if you had cast the conjure elemental spell, and the gem's magic is lost. The type of gem determines the elemental summoned by the spell." {
		section table=true {
			headers "Gem" "Summoned Elemental"
			row "Blue Sapphire" "Air elemental"
			row "Yellow Diamond" "Earth elemental"
			row "Red Corundum" "Fire elemental"
			row "Emerald" "Water elemental"
		}
	}
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" requires_attunement=true
	// TODO: Action to summon elemental
	// TODO: Separate gems by type
}
