item name="Elven Chain" weight=20.0 {
	description {
		section "Made of interlocking metal rings, a chain shirt is worn between layers of clothing or leather. This armor offers modest protection to the wearer's upper body and allows the sound of the rings rubbing against one another to be muffled by outer layers."
		section "You gain a +1 bonus to AC while you wear this armor. You are considered proficient with this armor even if you lack proficiency with medium armor."
	}
	rarity "Rare"
	kind "Equipment" proficient=true {
		armor "Medium" {
			formula base=13 {
				bonus (Ability)"Dexterity" max=2
			}
		}
		mutator "modify" "ArmorClass" 1
	}
}
