item name="Gloves of Swimming and Climbing" {
	description "While wearing these gloves, climbing and swimming don't cost you extra movement, and you gain a +5 bonus to Strength (Athletics) checks made to climb or swim."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "modify" (Skill)"Specific" "Athletics" bonus=5 context="to climb or swim"
		}
	}
}
