item name="Gloves of Swimming and Climbing" {
	description "While wearing these gloves, climbing and swimming don't cost you extra movement, and you gain a +5 bonus to Strength (Athletics) checks made to climb or swim."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		// TODO: +5 bonus instead of adv/disadv
		mutator-todo "modify" (Skill)"Specific" "Athletics" 5 context="to climb or swim"
	}
}
