item name="Hat of Disguise" {
	description "While wearing this hat, you can use an action to cast the disguise self spell from it at will. The spell ends if the hat is removed."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" requires_attunement=true
	// TODO: Action Disguise Self at will
}
