item name="Helm of Telepathy" {
	description {
		section "While wearing this helm, you can use an action to cast the detect thoughts spell (save DC 13) from it. As long as you maintain concentration on the spell, you can use a bonus action to send a telepathic message to a creature you are focused on. It can reply—using a bonus action to do so—while your focus on it continues."
		section "While focusing on a creature with detect thoughts, you can use an action to cast the suggestion spell (save DC 13) from the helm on that creature. Once used, the suggestion property can't be used again until the next dawn."
	}
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "spellcasting" "innate" context="using your Helm of Telepath" {
				method "AtWill"
				spells save_dc=13 {
					spell "spells/detectThoughts.kdl"
				}
			}
			mutator "spellcasting" "innate" context="detecting thoughts with your Helm of Telepathy" {
				method "Uses" {
					limited_uses {
						max_uses 1
						reset_on "Long"
					}
				}
				spells save_dc=17 {
					spell "spells/suggestion.kdl"
				}
			}
		}
	}
}
