item name="Helm of Comprehending Languages" {
	description "While wearing this helm, you can use an action to cast the comprehend languages spell from it at will."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment"
	// TODO: cast Comprehend Languages
}
