item name="Medallion of Thoughts" {
	description "The medallion has 3 charges. While wearing it, you can use an action and expend 1 charge to cast the detect thoughts spell (save DC 13) from it. The medallion regains 1d3 expended charges daily at dawn."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		charges 3 {
			reset {
				rest "Long"
				rate "1d4" // TODO: 1d3 isn't a valid natural die
			}
		}
	}
	// TODO: Charges, Detect Thoughts
}
