item name="Necklace of Adaptation" {
	description "While wearing this necklace, you can breathe normally in any environment, and you have advantage on saving throws made against harmful gases and vapors (such as cloudkill and stinking cloud effects, inhaled poisons, and the breath weapons of some dragons)."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
	}
	// TODO: adv on saves against harmful gases
}
