item name="Periapt of Health" {
	description "You are immune to contracting any disease while you wear this pendant. If you are already infected with a disease, the effects of the disease are suppressed while you wear the pendant."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
	}
}
