item name="Robe of Eyes" {
	description {
		section "This robe is adorned with eyelike patterns. While you wear the robe, you gain the following benefits:"
		section "The robe lets you see in all directions, and you have advantage on Wisdom (Perception) checks that rely on sight."
		section "You have darkvision out to a range of 120 feet."
		section "You can see invisible creatures and objects, as well as see into the Ethereal Plane, out to a range of 120 feet."
		section "The eyes on the robe can't be closed or averted. Although you can close or avert your own eyes, you are never considered to be doing so while wearing this robe."
		section "A light spell cast on the robe or a daylight spell cast within 5 feet of the robe causes you to be blinded for 1 minute. At the end of each of your turns, you can make a Constitution saving throw (DC 11 for light or DC 15 for daylight), ending the blindness on a success."
	}
	rarity "Rare"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		// TODO: adv on perception checks via sight
		// TODO: darkvision range minimum
	}
}
