item name="Stone of Good Luck (Luckstone)" {
	description "While this polished agate is on your person, you gain a +1 bonus to ability checks and saving throws."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		// TODO: +1 instead of adv/disadv to ability checks and saving throws
		mutator-todo "modify" (Ability)"All" 1
		mutator-todo "modify" (SavingThrow)"All" 1
	}
}
