item name="Stone of Good Luck (Luckstone)" {
	description "While this polished agate is on your person, you gain a +1 bonus to ability checks and saving throws."
	rarity "Uncommon"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
		// TODO: +1 to ability checks and saving throws
	}
}
