subclass class="Barbarian" name="Path of the Beserker" {
	description "For some barbarians, rage is a means to an end — that end being violence. The Path of the Berserker is a path of untrammeled fury, slick with blood. As you enter the berserker's rage, you thrill in the chaos of battle, heedless of your own health or well-being."
	level 3 {
		feature name="Frenzy" {
			description "Starting when you choose this path at 3rd level, you can go into a frenzy when you rage. If you do so, for the duration of your rage you can make a single melee weapon attack as a bonus action on each of your turns after this one. When your rage ends, you suffer one level of exhaustion."
			// TODO: add melee weapon attack as a bonus action when the rage condition is active
			// criteria "has_condition" "Raging"
		}
	}
	level 6 {
		feature name="Mindless Rage" {
			description "Beginning at 6th level, you can't be charmed or frightened while raging. If you are charmed or frightened when you enter your rage, the effect is suspended for the duration of the rage."
			// NOTE: the below only covers the second half of this feature. The first is just something you need to know when using this feature.
			/* TODO: Condition Supressing
			mutator which allows one or more conditions to be disabled/supressed (if they are present on the character)
			as long as a condition is met (like having another condition)
			mutator "supress_conditions" {
				condition "Charmed"
				condition "Frightened"
			}
			*/
			criteria "has_condition" {
				filter name="Raging" {
					name "Raging"
				}
			}
		}
	}
	level 10 {
		feature name="Intimidating Presence" {
			description {
				short "Frighten a creture within 30 feet of you until the end of your next turn, on a failed Wisdom saving throw (DC {DC}). If a creature is already frightened by you, you can extend the duration to the end of your next turn. If the target succeeds on the saving throw, it cannot be frightened in this way for 24 hours."
				section "Beginning at 10th level, you can use your action to frighten someone with your menacing presence. When you do so, choose one creature that you can see within 30 feet of you. If the creature can see or hear you, it must succeed on a Wisdom saving throw (DC equal to 8 + your proficiency bonus + your Charisma modifier) or be frightened of you until the end of your next turn. On subsequent turns, you can use your action to extend the duration of this effect on the frightened creature until the end of your next turn. This effect ends if the creature ends its turn out of line of sight or more than 60 feet away from you.
				If the creature succeeds on its saving throw, you can't use this feature on that creature again for 24 hours."
				format-arg "DC" (Evaluator)"math" "Add" {
					value 8
					value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
					value (Evaluator)"get_proficiency_bonus"
				}
			}
			action "Action"
		}
	}
	level 14 {
		feature name="Retaliation" {
			description {
				short "When you take damage from a creature within 5 feet of you, you can make a melee weapon attack against that creature."
				section "Starting at 14th level, when you take damage from a creature that is within 5 feet of you, you can use your reaction to make a melee weapon attack against that creature."
			}
			action "Reaction"
		}
	}
}