item name="Boots of Levitation" {
	description "While you wear these boots, you can use an action to cast the levitate spell on yourself at will."
	rarity "Rare"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "spellcasting2" "innate" {
				method "AtWill"
				spells {
					range "Self"
					spell "spells/levitate.kdl"
				}
			}
		}
	}
}
