item name="Boots of Speed" {
	description "While you wear these boots, you can use a bonus action and click the boots' heels together. If you do, the boots double your walking speed, and any creature that makes an opportunity attack against you has disadvantage on the attack roll. If you click your heels together again, you end the effect.

	When the boots' property has been used for a total of 10 minutes, the magic ceases to function until you finish a long rest."
	rarity "Rare"
	tag "Wonderous"
	kind "Equipment" {
		attunement {
			mutator "feature" name="Double Speed" {
				description {
					short "Walking speed doubled & opportunity attacks have disadvantage against you. Can use for 10 minutes cumulatively per long rest."
					section "Your walking speed is doubled and opportunity attacks against you have disadvantage on the attack roll for up to 10 minutes or until you end the effect. When this has been used for a cumulative 10 minutes, you cannot use this feature again until you finish a long rest."
				}
				// TODO: Condition for Double Speed
				action "Bonus"
			}
		}
	}
}
