subclass class="Druid" name="Circle of the Land" {
	description "The Circle of the Land is made up of mystics and sages who safeguard ancient knowledge and rites through a vast oral tradition. These druids meet within sacred circles of trees or standing stones to whisper primal secrets in Druidic. The circle's wisest members preside as the chief priests of communities that hold to the Old Faith and serve as advisors to the rulers of those folk. As a member of this circle, your magic is influenced by the land where you were initiated into the circle's mysterious rites."
	level 2 {
		/* TODO: Bonus Cantrip
			When you choose this circle at 2nd level, you learn one additional druid cantrip of your choice. This cantrip doesn't count against the number of druid cantrips you know.
		*/
		feature name="Natural Recovery" {
			description "Starting at 2nd level, you can regain some of your magical energy by sitting in meditation and communing with nature. During a short rest, you choose expended spell slots to recover. The spell slots can have a combined level that is equal to or less than half your druid level (rounded up), and none of the slots can be 6th level or higher. You can't use this feature again until you finish a long rest.

			For example, when you are a 4th-level druid, you can recover up to two levels worth of spell slots. You can recover either a 2nd-level slot or two 1st-level slots." {
				short "During a short rest, recover spell slots whose combined level is less than or equal to {level_budget}. No individual slot can be 6th level or higher."
				format-arg "level_budget" (Evaluator)"math" "Divide" round="ceil" {
					value (Evaluator)"get_level" class="Druid"
					value 2
				}
			}
			action "Special" {
				limited_uses {
					max_uses 1
					reset_on "Long"
				}
			}
		}
	}
	feature name="Circle Spells" {
		description "Your mystical connection to the land infuses you with the ability to cast certain spells. At 3rd, 5th, 7th, and 9th level you gain access to circle spells connected to the land where you became a druid. Choose that land — arctic, coast, desert, forest, grassland, mountain, swamp, or Underdark — and consult the associated list of spells.

		Once you gain access to a circle spell, you always have it prepared, and it doesn't count against the number of spells you can prepare each day. If you gain access to a spell that doesn't appear on the druid spell list, the spell is nonetheless a druid spell for you."
		mutator-todo "pick_one" {
			option "Mutators" name="Arctic" {
				description "Arctic environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "hold person, spike growth"
						row "5th" "sleet storm, slow"
						row "7th" "freedom of movement, ice storm"
						row "9th" "commune with nature, cone of cold"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/holdPerson.kdl"
							spell "spells/spikeGrowth.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/sleetStorm.kdl"
							spell "spells/slow.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/freedomOfMovement.kdl"
							spell "spells/iceStorm.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/communeWithNature.kdl"
							spell "spells/coneOfCold.kdl"
						}
					}
				}
			}
			option "Mutators" name="Coast" {
				description "Coast environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "mirror image, misty step"
						row "5th" "water breathing, water walk"
						row "7th" "control water, freedom of movement"
						row "9th" "conjure elemental, scrying"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/mirrorImage.kdl"
							spell "spells/mistyStep.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/waterBreathing.kdl"
							spell "spells/waterWalk.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/controlWater.kdl"
							spell "spells/freedomOfMovement.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/conjureElemental.kdl"
							spell "spells/scrying.kdl"
						}
					}
				}
			}
			option "Mutators" name="Desert" {
				description "Desert environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "blur, silence"
						row "5th" "create food and water, protection from energy"
						row "7th" "blight, hallucinatory terrain"
						row "9th" "insect plague, wall of stone"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/blur.kdl"
							spell "spells/silence.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/createFoodAndWater.kdl"
							spell "spells/protectionFromEnergy.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/blight.kdl"
							spell "spells/hallucinatoryTerrain.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/insectPlague.kdl"
							spell "spells/wallOfStone.kdl"
						}
					}
				}
			}
			option "Mutators" name="Forest" {
				description "Forest environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "barkskin, spider climb"
						row "5th" "call lightning, plant growth"
						row "7th" "divination, freedom of movement"
						row "9th" "commune with nature, tree stride"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/barkskin.kdl"
							spell "spells/spiderClimb.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/callLightning.kdl"
							spell "spells/plantGrowth.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/divination.kdl"
							spell "spells/freedomOfMovement.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/communeWithNature.kdl"
							spell "spells/treeStride.kdl"
						}
					}
				}
			}
			option "Mutators" name="Grassland" {
				description "Grassland environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "invisibility, pass without trace"
						row "5th" "daylight, haste"
						row "7th" "divination, freedom of movement"
						row "9th" "dream, insect plague"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/invisibility.kdl"
							spell "spells/passWithoutTrace.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/daylight.kdl"
							spell "spells/haste.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/divination.kdl"
							spell "spells/freedomOfMovement.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/dream.kdl"
							spell "spells/insectPlague.kdl"
						}
					}
				}
			}
			option "Mutators" name="Mountain" {
				description "Mountain environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "spider climb, spike growth"
						row "5th" "lightning bolt, meld into stone"
						row "7th" "stone shape, stoneskin"
						row "9th" "passwall, wall of stone"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/spiderClimb.kdl"
							spell "spells/spikeGrowth.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/lightningBolt.kdl"
							spell "spells/meldIntoStone.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/stoneShape.kdl"
							spell "spells/stoneskin.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/passwall.kdl"
							spell "spells/wallOfStone.kdl"
						}
					}
				}
			}
			option "Mutators" name="Swamp" {
				description "Swamp environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "darkness, Melf's acid arrow"
						row "5th" "water walk, stinking cloud"
						row "7th" "freedom of movement, locate creature"
						row "9th" "insect plague, scrying"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/darkness.kdl"
							spell "spells/acidArrow.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/waterWalk.kdl"
							spell "spells/stinkingCloud.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/freedomOfMovement.kdl"
							spell "spells/locateCreature.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/insectPlague.kdl"
							spell "spells/scrying.kdl"
						}
					}
				}
			}
			option "Mutators" name="Underdark" {
				description "Underdark environment spells" {
					table {
						headers "Druid Level" "Spells"
						row "3rd" "spider climb, web"
						row "5th" "gaseous form, stinking cloud"
						row "7th" "greater invisibility, stone shape"
						row "9th" "cloudkill, insect plague"
					}
				}
				mutator "by_level" class="Druid" {
					level 3 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/spiderClimb.kdl"
							spell "spells/web.kdl"
						}
					}
					level 5 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/gaseousForm.kdl"
							spell "spells/stinkingCloud.kdl"
						}
					}
					level 7 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/greaterInvisibility.kdl"
							spell "spells/stoneShape.kdl"
						}
					}
					level 9 {
						mutator "spellcasting" "add_prepared" ability="Wisdom" classified_as="Druid" {
							spell "spells/cloudkill.kdl"
							spell "spells/insectPlague.kdl"
						}
					}
				}
			}
		}
	}
	level 6 {
		feature name="Land's Stride" {
			description "Starting at 6th level, moving through nonmagical difficult terrain costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.

			In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such those created by the entangle spell." {
				short "Moving throw nonmagical difficult terrain costs no extra movement. You can pass through nonmagical plants without being slowed and without taking damage from them."
			}
			mutator "add_modifier" "Advantage" (SavingThrow)"All" context="plants that are magically created or manipulated to impede movement (e.g. Entangle)"
		}
	}
	level 10 {
		feature name="Nature's Ward" {
			description "When you reach 10th level, you can't be charmed or frightened by elementals or fey, and you are immune to poison and disease."
			// TODO: Immunity to conditions like charmed and frightened under a context
		}
	}
	level 14 {
		feature name="Nature's Sanctuary" {
			description "When you reach 14th level, creatures of the natural world sense your connection to nature and become hesitant to attack you. When a beast or plant creature attacks you, that creature must make a Wisdom saving throw against your druid spell save DC (DC {DC}). On a failed save, the creature must choose a different target, or the attack automatically misses. On a successful save, the creature is immune to this effect for 24 hours.

			The creature is aware of this effect before it makes its attack against you." {
				format-arg "DC" (Evaluator)"get_ability_modifier" (Ability)"Wisdom" base=8 proficient=true
			}
		}
	}
}