defaults {
	mutator "add_max_hit_points" (Evaluator)"math" "Multiply" id="Constitution x Levels" {
		value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
		value (Evaluator)"get_level"
	}

	feature name="Unarmed Strike" {
		description {
			short "You can punch, kick, head-butt, or use a similar forceful blow and deal {damage} bludgeoning damage."
			section "Instead of using a weapon to make a melee weapon attack, you can use an unarmed strike: a punch, kick, head-butt, or similar forceful blow (none of which count as weapons). On a hit, an unarmed strike deals {damage} bludgeoning damage (1 + your Strength modifier). You are proficient with your unarmed strikes."
			format-arg "damage" (Evaluator)"math" "Add" {
				value 1
				value (Evaluator)"get_ability_modifier" (Ability)"Strength"
			}
		}
		action "Action" {
			attack {
				kind "Melee"
				check "AttackRoll" (Ability)"Strength" proficient=true
				damage base=1 {
					damage_type (DamageType)"Bludgeoning"
				}
			}
		}
	}

	feature name="Attack" collapsed=true {
		description {
			section "The most common action to take in combat is the Attack action, whether you are swinging a sword, firing an arrow from a bow, or brawling with your fists.
			With this action, you make one melee or ranged attack.
			Certain features, such as the Extra Attack feature of the fighter, allow you to make more than one attack with this action."
		}
		action "Action"
	}
	feature name="Cast a Spell" collapsed=true {
		description {
			section "Spellcasters such as wizards and clerics, as well as many monsters, have access to spells and can use them to great effect in combat. Each spell has a casting time, which specifies whether the caster must use an action, a reaction, minutes, or even hours to cast the spell. Casting a spell is, therefore, not necessarily an action. Most spells do have a casting time of 1 action, so a spellcaster often uses his or her action in combat to cast such a spell."
		}
		action "Special"
	}
	feature name="Dash" collapsed=true {
		description {
			short "You double your movement speed for the current turn."
			section "You gain extra movement for the current turn equal to your speed, after applying any modifiers. With a speed of 30 feet, for example, you can move up to 60 feet on your turn if you dash.

			Any increase or decrease to your speed changes this additional movement by the same amount. If your speed of 30 feet is reduced to 15 feet, for instance, you can move up to 30 feet this turn if you dash."
		}
		action "Action"
	}
	feature name="Disengage" collapsed=true {
		description {
			section "Your movement doesn't provoke opportunity attacks for the rest of the turn."
		}
		action "Action"
	}
	feature name="Dodge" collapsed=true {
		description {
			short "Attack rolls against you have disadvantage and Dexterity saving throws have advantage until the start of your next turn, or you become incapacitated, or your speed drops to 0."
			section "When you take the Dodge action, you focus entirely on avoiding attacks. Until the start of your next turn, any attack roll made against you has disadvantage if you can see the attacker, and you make Dexterity saving throws with advantage. You lose this benefit if you are incapacitated or if your speed drops to 0."
		}
		action "Action" {
			// TODO: Apply dodge condition
		}
	}
	feature name="Grapple" collapsed=true {
		description {
			short "Use an attack to make a Strength (Athletics) check contested by the target's Strength (Athletics) or Dexterity (Acrobatics) check. If you succeed, the target is subjected to the grappled condition."
			section "When you want to grab a creature or wrestle with it, you can use the Attack action to make a special melee attack, a grapple. If you're able to make multiple attacks with the Attack action, this attack replaces one of them.

			The target of your grapple must be no more than one size larger than you and must be within your reach. Using at least one free hand, you try to seize the target by making a grapple check instead of an attack roll: a Strength (Athletics) check contested by the target's Strength (Athletics) or Dexterity (Acrobatics) check (the target chooses the ability to use). If you succeed, you subject the target to the grappled condition. The condition specifies the things that end it, and you can release the target whenever you like (no action required)."
			section (Title)"Escaping a Grapple" "A grappled creature can use its action to escape. To do so, it must succeed on a Strength (Athletics) or Dexterity (Acrobatics) check contested by your Strength (Athletics) check."
			section (Title)"Moving a Grappled Creature" "When you move, you can drag or carry the grappled creature with you, but your speed is halved, unless the creature is two or more sizes smaller than you."
		}
		action "Action"
	}
	feature name="Help" collapsed=true {
		description {
			section "You can lend your aid to another creature in the completion of a task. The creature you aid gains advantage on the next ability check it makes to perform the task you are helping with, provided that it makes the check before the start of your next turn.

			Alternatively, you can aid a friendly creature in attacking a creature within 5 feet of you. You feint, distract the target, or in some other way team up to make your ally's attack more effective. If your ally attacks the target before your next turn, the first attack roll is made with advantage."
		}
		action "Action"
	}
	feature name="Hide" collapsed=true {
		description {
			short "Make a Dexterity (Stealth) check in an attempt to hide, granting you advantage on an attack rolls against creatures which cannot see you."
			section "Make a Dexterity (Stealth) check in an attempt to hide, following the rules for hiding.
			When a creature can't see you, you have advantage on attack rolls against it. If you are hidden--both unseen and unheard--when you make an attack, you give away your location when the attack hits or misses."
		}
		action "Action"
	}
	feature name="Improvise" collapsed=true {
		description {
			section "Your character can do things not covered by predefined actions, such as breaking down doors, intimidating enemies, sensing weaknesses in magical defenses, or calling for a parley with a foe. The only limits to the actions you can attempt are your imagination and your character's ability scores.

			When you describe an action not detailed elsewhere in the rules, the DM tells you whether that action is possible and what kind of roll you need to make, if any, to determine success or failure."
		}
		action "Action"
	}
	feature name="Ready" collapsed=true {
		description {
			short "Use your reaction later when a trigger criteria is met to perform an action your declared when you use this feature."
			section "Sometimes you want to get the jump on a foe or wait for a particular circumstance before you act. To do so, you can take the Ready action on your turn, which lets you act using your reaction before the start of your next turn.

			First, you decide what perceivable circumstance will trigger your reaction. Then, you choose the action you will take in response to that trigger, or you choose to move up to your speed in response to it. Examples include \"If the cultist steps on the trapdoor, I'll pull the lever that opens it,\" and \"If the goblin steps next to me, I move away.\"

			When the trigger occurs, you can either take your reaction right after the trigger finishes or ignore the trigger. Remember that you can take only one reaction per round.

			When you ready a spell, you cast it as normal but hold its energy, which you release with your reaction when the trigger occurs. To be readied, a spell must have a casting time of 1 action, and holding onto the spell's magic requires concentration. If your concentration is broken, the spell dissipates without taking effect. For example, if you are concentrating on the web spell and ready magic missile, your web spell ends, and if you take damage before you release magic missile with your reaction, your concentration might be broken."
		}
		action "Action"
	}
	feature name="Search" collapsed=true {
		description {
			short "Make a Wisdom (Perception) check or an Intelligence (Investigation) check to find something."
			section "You devote your attention to finding something. Depending on the nature of your search, the DM might have you make a Wisdom (Perception) check or an Intelligence (Investigation) check."
		}
		action "Action"
	}
	feature name="Shove" collapsed=true {
		description {
			short "Use an attack to knock a creature prone or push it away 5 feet - if the creature is incapacitated OR you succeed in a Strength (Athletics) check contested by the target's Strength (Athletics) or Dexterity (Acrobatics) check."
			section "Using the Attack action, you can make a special melee attack to shove a creature, either to knock it prone or push it away from you. If you're able to make multiple attacks with the Attack action, this attack replaces one of them.

			The target must be no more than one size larger than you and must be within your reach. Instead of making an attack roll, you make a Strength (Athletics) check contested by the target's Strength (Athletics) or Dexterity (Acrobatics) check (the target chooses the ability to use). You succeed automatically if the target is incapacitated. If you succeed, you either knock the target prone or push it 5 feet away from you."
		}
		action "Action"
	}
	feature name="Use an Object" collapsed=true {
		description {
			section "You normally interact with an object while doing something else, such as when you draw a sword as part of an attack. When an object requires your action for its use, you take the Use an Object action. This action is also useful when you want to interact with more than one object on your turn."
		}
		action "Action"
	}
}