item name="Dagger" weight=1 {
	worth 2 (Currency)Gold
	kind Equipment {
		weapon Simple class="Dagger" {
			damage (Damage)1d4 Piercing
			property Finesse
			property Light
			property Thrown 20 60
		}
	}
}