system "dnd5e"
item name="Dart" weight=0.25 {
	worth 5 (Currency)"Copper"
	kind "Equipment" {
		weapon "Simple" class="Dart" {
			damage "Piercing" roll="1d4"
			property "Finesse"
			range 20 60
		}
	}
}