item name="Halberd" weight=6 {
	worth 20 (Currency)Gold
	kind Equipment {
		weapon Martial class="Halberd" {
			damage (Damage)1d10 Slashing
			property Heavy
			property Reach
			property TwoHanded
		}
	}
}