system "dnd5e"
item name="Longsword" weight=3.0 {
	worth 15 (Currency)"Gold"
	kind "Equipment" {
		weapon "Martial" class="Longsword" {
			damage "Slashing" roll="1d8"
			property "Versatile" "1d10"
		}
	}
}