system "dnd5e"
item name="Pike" weight=18.0 {
	worth 5 (Currency)"Gold"
	kind "Equipment" {
		weapon "Martial" class="Pike" {
			damage "Piercing" roll="1d10"
			property "Heavy"
			property "Reach"
			property "TwoHanded"
		}
	}
}