item name="Spear" weight=3 {
	worth 1 (Currency)Gold
	kind Equipment {
		weapon Simple class="Spear" {
			damage (Damage)1d6 Piercing
			property Thrown 20 60
			property Versatile (Damage)1d8
		}
	}
}