system "dnd5e"
item name="Warhammer" weight=2.0 {
	worth 15 (Currency)"Gold"
	kind "Equipment" {
		weapon "Martial" class="Warhammer" {
			damage "Bludgeoning" roll="1d8"
			property "Versatile" "1d10"
		}
	}
}