system "dnd5e"
item name="Chain Shirt" weight=20.0 {
	description "Made of interlocking metal rings, a chain shirt is worn between layers of clothing or leather. This armor offers modest protection to the wearer's upper body and allows the sound of the rings rubbing against one another to be muffled by outer layers."
	worth 50 (Currency)"Gold"
	kind "Equipment" {
		armor "Medium" {
			formula base=13 {
				bonus (Ability)"Dexterity" max=2
			}
		}
	}
}