item name="Hide Armor" weight=12 {
	description "This crude armor consists of thick furs and pelts. It is commonly worn by barbarian tribes, evil humanoids, and other folk who lack access to the tools and materials needed to create better armor."
	worth 10 (Currency)Gold
	kind Equipment {
		armor Medium {
			formula base=12 {
				bonus (Ability)Dexterity max=2
			}
		}
	}
}