item name="Studded Leather Armor" weight=13 {
	description "Made from tough but flexible leather, studded leather is reinforced with close-set rivets or spikes."
	worth 45 (Currency)Gold
	kind Equipment {
		armor Light {
			formula base=12 {
				bonus (Ability)Dexterity
			}
		}
	}
}