item name="Plate Armor" weight=65 {
	description "Plate consists of shaped, interlocking metal plates to cover the entire body. A suit of plate includes gauntlets, heavy leather boots, a visored helmet, and thick layers of padding underneath the armor. Buckles and straps distribute the weight over the body."
	worth 1500 (Currency)Gold
	kind Equipment {
		armor Heavy {
			formula base=18
			min-strength 15
		}
		modifier add_skill_modifier (Skill)Stealth (Modifier)Disadvantage
	}
}