item name="Ring Mail" weight=40 {
	description "This armor is leather armor with heavy rings sewn into it. The rings help reinforce the armor against blows from swords and axes. Ring mail is inferior to chain mail, and it's usually worn only by those who can't afford better armor."
	worth 30 (Currency)Gold
	kind Equipment {
		armor Heavy {
			formula base=14
		}
		modifier add_skill_modifier (Skill)Stealth (Modifier)Disadvantage
	}
}