item name="Tome of Understanding" {
	description "This book contains intuition and insight exercises, and its words are charged with magic. If you spend 48 hours over a period of 6 days or fewer studying the book's contents and practicing its guidelines, your Wisdom score increases by 2, as does your maximum for that score. The manual then loses its magic, but regains it in a century."
	rarity "VeryRare"
	tag "Wonderous"
	kind "Equipment" {
		attunement required=true
	}
	// TODO: button to consume book and apply feat, with a charge that indicates if that action can be done
}
