item name="Crossbow (Light)" weight=5.0 {
	worth 25 (Currency)"Gold"
	kind "Equipment" {
		weapon "Simple" class="CrossbowLight" {
			damage "Piercing" roll="1d8"
			property "TwoHanded"
			range 80 320 {
				ammunition
				loading
			}
		}
	}
}