item name="Crossbow (Hand)" weight=3.0 {
	worth 75 (Currency)"Gold"
	kind "Equipment" {
		weapon "Martial" class="CrossbowHand" {
			damage "Piercing" roll="1d6"
			property "Light"
			range 30 120 {
				ammunition
				loading
			}
		}
	}
}