item name="Light Hammer" weight=2.0 {
	worth 2 (Currency)"Gold"
	kind "Equipment" {
		weapon "Simple" class="Javelin" {
			damage "Bludgeoning" roll="1d4"
			property "Light"
			property "Thrown" 20 60
		}
	}
}