item name="Trident" weight=4.0 {
	worth 5 (Currency)"Gold"
	kind "Equipment" {
		weapon "Martial" class="Trident" {
			damage "Piercing" roll="1d6"
			property "Thrown" 20 60
			property "Versatile" "1d8"
		}
	}
}