bundle category="RaceVariant" name="Stout" {
	requirement "Bundle" "Race" "Halfling"
	description "As a stout halfling, you're hardier than average and have some resistance to poison. Some say that stouts have dwarven blood. In the Forgotten Realms, these halflings are called stronghearts, and they're most common in the south."
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 1
	}
	mutator "feature" name="Stout Resilience" {
		description "You have advantage on saving throws against poison, and you have resistance against poison damage."
		mutator "modify" (SavingThrow)"All" "Advantage" context="poison"
		mutator "add_defense" "Resistance" (DamageType)"Specific" "Poison" 
	}
}