item name="Ring of Jumping" {
	description "While wearing this ring, you can cast the jump spell from it as a bonus action at will, but can target only yourself when you do so."
	rarity "Uncommon"
	tag "Ring"
	kind "Equipment" requires_attunement=true
}
