item name="Ring of Warmth" {
	description "While wearing this ring, you have resistance to cold damage. In addition, you and everything you wear and carry are unharmed by temperatures as low as −50 degrees Fahrenheit."
	rarity "Uncommon"
	tag "Ring"
	kind "Equipment" {
		attunement required=true
	}
}
