bundle category="RaceVariant" name="Dragonborn: Gold Dragon Ancestry" {
	requirement (Evaluator)"bundle" (Race)"Dragonborn"
	mutator "add_defense" "Resistance" (DamageType)"Specific" "Fire"
	mutator "feature" name="Breath Weapon" {
		description {
			short "You emit destructive energy in a 15 ft. cone. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Acid damage on a failed save and half as much on a successful one."
			section "You can use your action to exhale destructive energy. With your Gold dragon ancestry, you emit Fire damage in a 15 ft. cone.
			
			When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

			After you use your breath weapon, you can't use it again until you complete a short or long rest."
			format-arg "DC" "int" (Evaluator)"math" "Add" {
				value 8
				value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
				value (Evaluator)"get_proficiency_bonus"
			}
			format-arg "amt" "int" (Evaluator)"get_level" {
				level 1 2
				level 6 3
				level 11 4
				level 16 5
			}
		}
		action "Action" {
			attack {
				check "SavingThrow" {
					difficulty_class 8 {
						ability_bonus "Constitution"
						proficiency_bonus true
					}
					save_ability (Ability)"Dexterity"
				}
				area_of_effect "Cone" length=15
				damage {
					roll {
						amount (Evaluator)"get_level" {
							level 1 2
							level 6 3
							level 11 4
							level 16 5
						}
						die 6
					}
					damage_type (DamageType)"Fire"
				}
			}
			limited_uses {
				max_uses 1
				reset_on "Short"
			}
		}
	}
}