spell name="Acid Splash" {
	school "Conjuration"
	tag "Sorcerer"
	tag "Wizard"
	rank 0
	casting-time "Action"
	range 60
	component "Verbal"
	component "Somatic"
	duration "Instantaneous"
	check "SavingThrow" (Ability)"Dexterity"
	damage (Scaled)"Level" (DamageType)"Acid" {
		level 1 (Roll)"1d6"
		level 5 (Roll)"2d6"
		level 11 (Roll)"3d6"
		level 17 (Roll)"4d6"
	}
	description "You hurl a bubble of acid. Choose one or two creatures you can see within range. If you choose two, they must be within 5 feet of each other. A target must succeed on a Dexterity saving throw or take 1d6 acid damage.
	This spell's damage increases by 1d6 when you reach 5th level (2d6), 11th level (3d6), and 17th level (4d6)."
}