spell name="Barkskin" {
	tag "transmutation"
	rank 2
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "a handful of oak bark"
	duration "Hours" 1 concentration=true
	description "You touch a willing creature. Until the spell ends, the target's skin has a rough, bark-like appearance, and the target's AC can't be less than 16, regardless of what kind of armor it is wearing."
}
