spell name="Branding Smite" {
	school "Evocation"
	tag "Paladin"
	rank 2
	casting-time "Bonus"
	range "Self"
	component "Verbal"
	duration "Minutes" 1 concentration=true
	damage "2d6" (DamageType)"Radiant" upcast="1d6"
	description {
		section "The next time you hit a creature with a weapon attack before this spell ends, the weapon gleams with astral radiance as you strike. The attack deals an extra 2d6 radiant damage to the target, which becomes visible if it's invisible, and the target sheds dim light in a 5-foot radius and can't become invisible until the spell ends."
		section (Title)"At Higher Levels" "When you cast this spell using a spell slot of 3rd level or higher, the extra damage increases by 1d6 for each slot level above 2nd."
	}
}