spell name="Burning Hands" {
	school "Evocation"
	tag "Sorcerer"
	tag "Wizard"
	rank 1
	casting-time "Action"
	range "Self"
	area_of_effect "Cone" length=15
	component "Verbal"
	component "Somatic"
	duration "Instantaneous"
	check "SavingThrow" (Ability)"Dexterity"
	damage "3d6" (DamageType)"Fire" upcast="1d6"
	description {
		section "As you hold your hands with thumbs touching and fingers spread, a thin sheet of flames shoots forth from your outstretched fingertips. Each creature in a 15-foot cone must make a Dexterity saving throw. A creature takes 3d6 fire damage on a failed save, or half as much damage on a successful one.
		The fire ignites any flammable objects in the area that aren't being worn or carried."
		section (Title)"At Higher Levels" "When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d6 for each slot level above 1st."
	}
}