spell name="Detect Poison and Disease" {
	tag "Divination"
	tag "Cleric"
	tag "Druid"
	tag "Paladin"
	tag "Ranger"
	rank 1
	casting-time "Action" ritual=true
	range "Self"
	component "Verbal"
	component "Somatic"
	component "Material" "a yew leaf"
	duration "Minute" 10 concentration=true
	description "For the duration, you can sense the presence and location of poisons, poisonous creatures, and diseases within 30 feet of you. You also identify the kind of poison, poisonous creature, or disease in each case.
	The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt."
}