spell name="Enhance Ability" {
	school "Transmutation"
	tag "Bard"
	tag "Cleric"
	tag "Druid"
	tag "Sorcerer"
	rank 2
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "fur or a feather from a beast"
	duration "Hour" 1 concentration=true
	// TODO: Enhance Ability conditions?
	description "You touch a creature and bestow upon it a magical enhancement. Choose one of the following effects; the target gains that effect until the spell ends." {
		section (Title)"Bear's Endurance" "The target has advantage on Constitution checks. It also gains 2d6 temporary hit points, which are lost when the spell ends."
		section (Title)"Bull's Strength" "The target has advantage on Strength checks, and his or her carrying capacity doubles."
		section (Title)"Cat's Grace" "The target has advantage on Dexterity checks. It also doesn't take damage from falling 20 feet or less if it isn't incapacitated."
		section (Title)"Eagle's Splendor" "The target has advantage on Charisma checks."
		section (Title)"Fox's Cunning" "The target has advantage on Intelligence checks."
		section (Title)"Owl's Wisdom" "The target has advantage on Wisdom checks."
	}
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 3rd level or higher, you can target one additional creature for each slot level above 2nd."
}