spell name="False Life" {
	tag "Necromancy"
	tag "Sorcerer"
	tag "Wizard"
	rank 1
	casting-time "Action"
	range "Self"
	component "Verbal"
	component "Somatic"
	component "Material" "a small amount of alcohol or distilled spirits"
	duration "Hour" 1
	description "Bolstering yourself with a necromantic facsimile of life, you gain 1d4 + 4 temporary hit points for the duration."
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 2nd level or higher, you gain 5 additional temporary hit points for each slot level above 1st."
}
