spell name="Feather Fall" {
	school "Transmutation"
	tag "Bard"
	tag "Sorcerer"
	tag "Wizard"
	rank 1
	casting-time "Reaction" "which you take when you or a creature within 60 feet of you falls"
	range 60
	component "Verbal"
	component "Material" "a small feather or piece of down"
	duration "Minute" 1
	description "Choose up to five falling creatures within range. A falling creature's rate of descent slows to 60 feet per round until the spell ends. If the creature lands before the spell ends, it takes no falling damage and can land on its feet, and the spell ends for that creature."
}