spell name="Fly" {
	tag "Transmutation"
	tag "Sorcerer"
	tag "Warlock"
	tag "Wizard"
	rank 3
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "a wing feather from any bird"
	duration "Minute" 10 concentration=true
	description "You touch a willing creature. The target gains a flying speed of 60 feet for the duration. When the spell ends, the target falls if it is still aloft, unless it can stop the fall."
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 4th level or higher, you can target one additional creature for each slot level above 3rd."
}
