spell name="Glibness" {
	tag "transmutation"
	tag "Bard"
	tag "Warlock"
	rank 8
	casting-time "Action"
	range "Self"
	component "Verbal"
	duration "Hour" 1
	description "Until the spell ends, when you make a Charisma check, you can replace the number you roll with a 15. Additionally, no matter what you say, magic that would determine if you are telling the truth indicates that you are being truthful."
}
