spell name="Greater Invisibility" {
	tag "Illusion"
	tag "Bard"
	tag "Sorcerer"
	tag "Wizard"
	rank 4
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	duration "Minute" 1 concentration=true
	description "You or a creature you touch becomes invisible until the spell ends. Anything the target is wearing or carrying is invisible as long as it is on the target's person."
}