spell name="Heal" {
	school "Evocation"
	tag "Cleric"
	tag "Druid"
	rank 6
	casting-time "Action"
	range 60
	component "Verbal"
	component "Somatic"
	duration "Instantaneous"
	healing {
		amount 70
		bonus-per-rank 10
	}
	description {
		section "Choose a creature that you can see within range. A surge of positive energy washes through the creature, causing it to regain 70 hit points. This spell also ends blindness, deafness, and any diseases affecting the target. This spell has no effect on constructs or undead."
		section (Title)"At Higher Levels" "When you cast this spell using a spell slot of 7th level or higher, the amount of healing increases by 10 for each slot level above 6th."
	}
}