spell name="Healing Word" {
	school "Evocation"
	tag "Bard"
	tag "Cleric"
	tag "Druid"
	rank 1
	casting-time "Bonus"
	range 60
	component "Verbal"
	duration "Instantaneous"
	healing {
		amount "1d4" // plus spellcasting modifier
		bonus-per-rank "1d4"
	}
	description {
		section "A creature of your choice that you can see within range regains hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead or constructs."
		section (Title)"At Higher Levels" "When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d4 for each slot level above 1st."
	}
}