spell name="Heroism" {
	school "Enchantment"
	tag "Bard"
	tag "Paladin"
	rank 1
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	duration "Minute" 1 concentration=true
	// TODO: Heroism condition?
	description "A willing creature you touch is imbued with bravery. Until the spell ends, the creature is immune to being frightened and gains temporary hit points equal to your spellcasting ability modifier at the start of each of its turns. When the spell ends, the target loses any remaining temporary hit points from this spell."
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st."
}