spell name="Hold Person" {
	tag "enchantment"
	tag "Bard"
	tag "Cleric"
	tag "Druid"
	tag "Sorcerer"
	tag "Warlock"
	tag "Wizard"
	rank 2
	casting-time "Action"
	range 60
	component "Verbal"
	component "Somatic"
	component "Material" "a small, straight piece of iron"
	duration "Minute" 1 concentration=true
	description "Choose a humanoid that you can see within range. The target must succeed on a Wisdom saving throw or be paralyzed for the duration. At the end of each of its turns, the target can make another Wisdom saving throw. On a success, the spell ends on the target."
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 3rd level or higher, you can target one additional humanoid for each slot level above 2nd. The humanoids must be within 30 feet of each other when you target them."
}
