spell name="Jump" {
	school "Transmutation"
	tag "Druid"
	tag "Ranger"
	tag "Sorcerer"
	tag "Wizard"
	rank 1
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "a grasshopper's hind leg"
	duration "Minute" 1
	// TODO: Jump condition?
	description "You touch a creature. The creature's jump distance is tripled until the spell ends."
}