spell name="Lesser Restoration" {
	tag "abjuration"
	rank 2
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	duration "Instantaneous"
	description "You touch a creature and can end either one disease or one condition afflicting it. The condition can be blinded, deafened, paralyzed, or poisoned."
}
