spell name="Locate Animals or Plants" {
	tag "Divination"
	tag "Bard"
	tag "Druid"
	tag "Ranger"
	rank 2
	casting-time "Action" ritual=true
	range "Self"
	component "Verbal"
	component "Somatic"
	component "Material" "a bit of fur from a bloodhound"
	duration "Instantaneous"
	description "Describe or name a specific kind of beast or plant. Concentrating on the voice of nature in your surroundings, you learn the direction and distance to the closest creature or plant of that kind within 5 miles, if any are present."
}
