spell name="Magic Missile" {
	tag "evocation"
	tag "Sorcerer"
	tag "Wizard"
	rank 1
	casting-time "Action"
	range 120
	component "Verbal"
	component "Somatic"
	duration "Instantaneous"
	description "You create three glowing darts of magical force. Each dart hits a creature of your choice that you can see within range. A dart deals 1d4 + 1 force damage to its target. The darts all strike simultaneously, and you can direct them to hit one creature or several."
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 2nd level or higher, the spell creates one more dart for each slot level above 1st."
}
