spell name="Pass without Trace" {
	tag "abjuration"
	rank 2
	casting-time "Action"
	range "Self"
	component "Verbal"
	component "Somatic"
	component "Material" "ashes from a burned leaf of mistletoe and a sprig of spruce"
	duration "Hour" 1 concentration=true
	description "A veil of shadows and silence radiates from you, masking you and your companions from detection. For the duration, each creature you choose within 30 feet of you (including you) has a +10 bonus to Dexterity (Stealth) checks and can't be tracked except by magical means. A creature that receives this bonus leaves behind no tracks or other traces of its passage."
}
