spell name="Poison Spray" {
	tag "Conjuration"
	tag "Druid"
	tag "Sorcerer"
	tag "Warlock"
	tag "Wizard"
	rank 0
	casting-time "Action"
	range 10
	component "Verbal"
	component "Somatic"
	duration "Instantaneous"
	check "SavingThrow" (Ability)"Constitution"
	damage (Scaled)"Level" (DamageType)"Poison" {
		level 1 (Roll)"1d12"
		level 5 (Roll)"2d12"
		level 11 (Roll)"3d12"
		level 17 (Roll)"4d12"
	}
	description "You extend your hand toward a creature you can see within range and project a puff of noxious gas from your palm. The creature must succeed on a Constitution saving throw or take 1d12 poison damage.
	This spell's damage increases by 1d12 when you reach 5th level (2d12), 11th level (3d12), and 17th level (4d12)."
}