spell name="Prayer of Healing" {
	tag "Evocation"
	tag "Cleric"
	rank 2
	casting-time "Minute" 10
	range 30
	component "Verbal"
	duration "Instantaneous"
	healing {
		amount "2d8" // plus spellcasting modifier
		bonus-per-rank "1d8"
	}
	description "Up to six creatures of your choice that you can see within range each regain hit points equal to 2d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs."
	description (Title)"At Higher Levels" "When you cast this spell using a spell slot of 3rd level or higher, the healing increases by 1d8 for each slot level above 2nd."
}