spell name="Protection from Energy" {
	tag "Abjuration"
	tag "Cleric"
	tag "Druid"
	tag "Ranger"
	tag "Sorcerer"
	tag "Wizard"
	rank 3
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	duration "Hour" 1 concentration=true
	// TODO: Protection from Energy condition?
	description "For the duration, the willing creature you touch has resistance to one damage type of your choice: acid, cold, fire, lightning, or thunder."
}