spell name="Shield" {
	tag "abjuration"
	tag "Sorcerer"
	tag "Wizard"
	rank 1
	casting-time "Reaction" "which you take when you are hit by an attack or targeted by the magic missile spell"
	range "Self"
	component "Verbal"
	component "Somatic"
	duration "Round" 1
	description "An invisible barrier of magical force appears and protects you. Until the start of your next turn, you have a +5 bonus to AC, including against the triggering attack, and you take no damage from magic missile."
}
