spell name="Shield of Faith" {
	tag "abjuration"
	tag "Cleric"
	tag "Paladin"
	rank 1
	casting-time "BonusAction"
	range 60
	component "Verbal"
	component "Somatic"
	component "Material" "a small parchment with a bit of holy text written on it"
	duration "Minute" 10 concentration=true
	description "A shimmering field appears and surrounds a creature of your choice within range, granting it a +2 bonus to AC for the duration."
}
