spell name="Speak with Animals" {
	tag "Divination"
	tag "Bard"
	tag "Druid"
	tag "Ranger"
	rank 1
	casting-time "Action" ritual=true
	range "Self"
	component "Verbal"
	component "Somatic"
	duration "Minute" 10
	description "You gain the ability to comprehend and verbally communicate with beasts for the duration. The knowledge and awareness of many beasts is limited by their intelligence, but at minimum, beasts can give you information about nearby locations and monsters, including whatever they can perceive or have perceived within the past day. You might be able to persuade a beast to perform a small favor for you, at the DM's discretion."
}
