spell name="Spider Climb" {
	school "Transmutation"
	tag "Sorcerer"
	tag "Warlock"
	tag "Wizard"
	rank 2
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "a drop of bitumen and a spider"
	duration "Hour" 1 concentration=true
	// TODO: Spider Climb condition?
	description "Until the spell ends, one willing creature you touch gains the ability to move up, down, and across vertical surfaces and upside down along ceilings, while leaving its hands free. The target also gains a climbing speed equal to its walking speed."
}