spell name="Stoneskin" {
	tag "abjuration"
	rank 4
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "diamond dust worth 100 gp, which the spell consumes"
	duration "Hour" 1 concentration=true
	description "This spell turns the flesh of a willing creature you touch as hard as stone. Until the spell ends, the target has resistance to nonmagical bludgeoning, piercing, and slashing damage."
}
