spell name="True Seeing" {
	tag "divination"
	tag "Bard"
	tag "Cleric"
	tag "Sorcerer"
	tag "Warlock"
	tag "Wizard"
	rank 6
	casting-time "Action"
	range "Touch"
	component "Verbal"
	component "Somatic"
	component "Material" "an ointment for the eyes that costs 25 gp; is made from mushroom powder, saffron, and fat; and is consumed by the spell"
	duration "Hour" 1
	description "This spell gives the willing creature you touch the ability to see things as they actually are. For the duration, the creature has truesight, notices secret doors hidden by magic, and can see into the Ethereal Plane, all out to a range of 120 feet."
}
