spell name="Water Breathing" {
	tag "transmutation"
	tag "Druid"
	tag "Ranger"
	tag "Sorcerer"
	tag "Wizard"
	rank 3
	casting-time "Action" ritual=true
	range 30
	component "Verbal"
	component "Somatic"
	component "Material" "a short reed or piece of straw"
	duration "Hour" 24
	description "This spell grants up to ten willing creatures you can see within range the ability to breathe underwater until the spell ends. Affected creatures also retain their normal mode of respiration."
}
