race name="Gnome" {
	mutator "ability_score" {
		ability "Specific" (Ability)"Intelligence"
		bonus 2
	}
	mutator "extend_life_expectancy" 500
	mutator-todo "add_size" {
		// height: 32"+[2,12]" = [34,44] = [2'10", 3'6"]
		height base=32 bonus=(Roll)"2d6"
		// weight: 30lb+([2,12]*[1,4]) = [32,78]lb
		weight base=30 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)25
	mutator "sense" "Darkvision" (Base)60
	feature name="Gnome Cunning" {
		description "You have advantage on all Intelligence, Wisdom, and Charisma saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Intelligence" context="magic"
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Wisdom" context="magic"
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Charisma" context="magic"
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Gnomish"
}
/*
	Gnome Names
	Gnomes love names, and most have half a dozen or so. A gnome’s mother, father, clan elder, aunts, and uncles each give the gnome a name, and various nicknames from just about everyone else might or might not stick over time. Gnome names are typically variants on the names of ancestors or distant relatives, though some are purely new inventions. When dealing with humans and others who are “stuffy” about names, a gnome learns to use no more than three names: a personal name, a clan name, and a nickname, choosing the one in each category that’s the most fun to say.

	Male Names: Alston, Alvyn, Boddynock, Brocc, Burgell, Dimble, Eldon, Erky, Fonkin, Frug, Gerbo, Gimble, Glim, Jebeddo, Kellen, Namfoodle, Orryn, Roondar, Seebo, Sindri, Warryn, Wrenn, Zook

	Female Names: Bimpnottin, Breena, Caramip, Carlin, Donella, Duvamil, Ella, Ellyjobell, Ellywick, Lilli, Loopmottin, Lorilla, Mardnab, Nissa, Nyx, Oda, Orla, Roywyn, Shamil, Tana, Waywocket, Zanna

	Clan Names: Beren, Daergel, Folkor, Garrick, Nackle, Murnig, Ningel, Raulnor, Scheppen, Timbers, Turen

	Nicknames: Aleslosh, Ashhearth, Badger, Cloak, Doublelock, Filchbatter, Fnipper, Ku, Nim, Oneshoe, Pock, Sparklegem, Stumbleduck
*/