bundle category="Race" name="Halfling" {
	mutator "ability_score" {
		ability "Specific" "Dexterity"
		bonus 2
	}
	mutator "extend_life_expectancy" 250
	mutator "add_size" {
		height base=31 bonus=(Roll)"2d4"
		weight base=35 multiplier=1
	}
	mutator "speed" "Walking" (Base)25
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Halfling"
	mutator "feature" name="Lucky" {
		description "When you roll a 1 on the d20 for an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll."
	}
	mutator "feature" name="Brave" {
		description "You have advantage on saving throws against being frightened."
		mutator "modify" (SavingThrow)"All" "Advantage" context="being frightened"
	}
	mutator "feature" name="Halfling Nimbleness" {
		description "You can move through the space of any creature that is of a size larger than yours."
	}
}
/*
	A halfling has a given name, a family name, and possibly a nickname. Family names are often nicknames that stuck so tenaciously they have been passed down through the generations.

	Male Names: Alton, Ander, Cade, Corrin, Eldon, Errich, Finnan, Garret, Lindal, Lyle, Merric, Milo, Osborn, Perrin, Reed, Roscoe, Wellby

	Female Names: Andry, Bree, Callie, Cora, Euphemia, Jillian, Kithri, Lavinia, Lidda, Merla, Nedda, Paela, Portia, Seraphina, Shaena, Trym, Vani, Verna

	Family Names: Brushgather, Goodbarrel, Greenbottle, High-hill, Hilltopple, Leagallow, Tealeaf, Thorngage, Tosscobble, Underbough
*/