race name="Tiefling" {
	mutator "ability_score" {
		ability "Specific" (Ability)"Charisma"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" (Ability)"Intelligence"
		bonus 1
	}
	mutator "extend_life_expectancy" 90
	mutator "add_max_height" 58
	mutator "add_max_height" (Roll)"2d10"
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	mutator "add_defense" "Resistance" (DamageType)"Fire"
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Infernal"
	feature name="Infernal Legacy" {
		description "You know the thaumaturgy cantrip. When you reach 3rd level, you can cast the hellish rebuke spell as a 2nd-level spell once with this trait and regain the ability to do so when you finish a long rest. When you reach 5th level, you can cast the darkness spell once with this trait and regain the ability to do so when you finish a long rest. Charisma is your spellcasting ability for these spells."
		// TODO: spellcasting
	}
}
/*
	Tiefling Names
	Tiefling names fall into three broad categories. Tieflings born into another culture typically have names reflective of that culture. Some have names derived from the Infernal language, passed down through generations, that reflect their fiendish heritage. And some younger tieflings, striving to find a place in the world, adopt a name that signifies a virtue or other concept and then try to embody that concept. For some, the chosen name is a noble quest. For others, it’s a grim destiny.

	Male Infernal Names: Akmenos, Amnon, Barakas, Damakos, Ekemon, Iados, Kairon, Leucis, Melech, Mordai, Morthos, Pelaios, Skamos, Therai

	Female Infernal Names: Akta, Anakis, Bryseis, Criella, Damaia, Ea, Kallista, Lerissa, Makaria, Nemeia, Orianna, Phelaia, Rieta

	“Virtue” Names: Art, Carrion, Chant, Creed, Despair, Excellence, Fear, Glory, Hope, Ideal, Music, Nowhere, Open, Poetry, Quest, Random, Reverence, Sorrow, Temerity, Torment, Weary
*/