item name="Adamantine Chain Mail" weight=55.0 {
	description "Made of interlocking metal rings, chain mail includes a layer of quilted fabric worn underneath the mail to prevent chafing and to cushion the impact of blows. The suit includes gauntlets."
	description "This suit of armor is reinforced with adamantine, one of the hardest substances in existence. While you're wearing it, any critical hit against you becomes a normal hit."
	rarity "Uncommon"
	worth 75 (Currency)"Gold"
	kind "Equipment" {
		armor "Heavy" {
			formula base=16
			min-strength 13
		}
		mutator "add_modifier" "Disadvantage" (Skill)"Specific" "Stealth"
	}
}