item name="Adamantine Scale Mail" weight=45.0 {
	description "This armor consists of a coat and leggings (and perhaps a separate skirt) of leather covered with overlapping pieces of metal, much like the scales of a fish. The suit includes gauntlets."
	description "This suit of armor is reinforced with adamantine, one of the hardest substances in existence. While you're wearing it, any critical hit against you becomes a normal hit."
	rarity "Uncommon"
	worth 50 (Currency)"Gold"
	kind "Equipment" {
		armor "Medium" {
			formula base=14 {
				bonus (Ability)"Dexterity" max=2
			}
		}
		mutator "add_modifier" "Disadvantage" (Skill)"Specific" "Stealth"
	}
}